<mat-dialog-content>
  @if(!isViewcomentario){
    <p>Ingrese un comentario.</p>
    <textarea id="vComentario" class="form-control" rows="10" [value]="vComentario" (keyup)="onChangeTextArea($event)"></textarea>
  }@else{
    {{data.comentario}}
  }
  
</mat-dialog-content>
<mat-dialog-actions>
  @if(!isViewcomentario){
    <button mat-button (click)="onNoClick()">Canelar</button>
    <button mat-button (click)="onOk()" cdkFocusInitial>Ok</button>
  }@else{
    <button mat-button (click)="onNoClick()" cdkFocusInitial>Ok</button>
  }

</mat-dialog-actions>