.pagination-content {
    display: flex !important;
    justify-content: center !important;
}

.icon-search {
    float: right !important;
    cursor: pointer !important;
    font-size: 11px !important;
    color: #bbbbbb !important;
    padding-top: 4px !important;
}

.icon-search:hover {
    color: #7e7e7e !important;
}

.content-button-filter {
    margin-top: 6px !important;

    button {
        border-radius: 4px !important;
        margin-right: 10px;
        // padding: 5px 25px !important;
    }
}

.modal-filter {
    width: 210px !important;
    z-index: 99999 !important;
    position: absolute !important;
    background: #ffff !important;
    height: auto !important;
    padding-bottom: 3px !important;
    box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d !important;
}

.search-content-button {
    padding: 3px 6px !important;

    button {
        display: inline-block !important;
        width: 49% !important;
    }
}

.button-float-rigth {
    float: right !important;
}

.alertItem {
    color: red !important;
}

.content-filter {
padding: 5px 0px;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
  }