<ion-content>
  <div id="content" class="full-center">
    <div class="card-content">
      <ion-row>
        <ion-col sizeXs="6" sizeSm="6" sizeMd="1" sizeLg="1">
          <mt-input
          id="lstPeriodo"
          label="Periodo"
          placeholder="Periodo"
          value="{{ lstPeriodo }}"
          (afterChange)="onChangeInput($event)"
          type="text"
          ></mt-input>
        </ion-col>
        <ion-col sizeXs="6" sizeSm="6" sizeMd="2" sizeLg="2">
          <mt-select
          id="lstCentroCosto"
          placeHolder="Centro de costo"
          [optionList]="optionListMarca"
          (changeSelected)="onChangeSelect($event)"
          ></mt-select>
        </ion-col>
        <ion-col sizeXs="6" sizeSm="6" sizeMd="5" sizeLg="5">
          <mt-calendar
          label="fecha"
          isMultiSelect="true"
          (afterChange)="onDateCalendar($event)"
          ></mt-calendar>
        </ion-col>
        <ion-col sizeXs="2" sizeSm="2" sizeMd="2" sizeLg="2">
          <mt-select
          id="functionExport"
          placeHolder="Exportar"
          [optionList]="optionListExport"
          (changeSelected)="onChangeSelect($event)"
          ></mt-select>
        </ion-col>
        <ion-col sizeXs="2" sizeSm="2" sizeMd="2" sizeLg="2">
          <div class="content-button-filter">
            <button type="button" (click)="searchData()"class="btn btn-outline-secondary">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <button type="button" (click)="exportReporte()"class="btn btn-outline-primary">
              <i class="fa fa-download" aria-hidden="true"></i>
            </button>
          </div>
        </ion-col>
        <ion-col sizeXs="6" sizeSm="6" sizeMd="3" sizeLg="3">
          <div class="content-filter">
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field>
          </div>
        </ion-col>
        <ion-col sizeXs="6" sizeSm="6" sizeMd="3" sizeLg="3">
          <mt-calendar
          label="fecha"
          isRageDate="true"
          labelInit="Inicio"
          labelFin="Termino"
          (afterChangeInit)="onDateCalendar($event)"
          (afterChangeEnd)="onDateCalendar($event)"
          ></mt-calendar>
        </ion-col>
        <ion-col sizeXs="6" sizeSm="6" sizeMd="6" sizeLg="6" class="aling-right">
          <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle (click)="onChangeTableView(group.value)" value="allList" aria-label="Text align left">
              <mat-icon>
                <i class="fa fa-list" aria-hidden="true"></i>
              </mat-icon>
            </mat-button-toggle>
            <mat-button-toggle (click)="onChangeTableView(group.value)" value="timerList" aria-label="Text align center">
              <mat-icon>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
              </mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" class="no-padding-lateral">
          <ion-row>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" class="only-desktop">
              <div class="mat-elevation-z8" *ngIf="tipoTableView == 'allList'">
                <table mat-table [dataSource]="dataSource_timeList">

                  <!-- Weight Column -->
                  <ng-container matColumnDef="Nombre completo">
                    <th mat-header-cell *matHeaderCellDef> Nombre completo </th>
                    <td mat-cell *matCellDef="let element"> {{element.nomEmpleado}} </td>
                  </ng-container>
              
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="Documento">
                    <th mat-header-cell *matHeaderCellDef> Documento </th>
                    <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
                  </ng-container>
            
                  <ng-container matColumnDef="Fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                  </ng-container>
            
                  <ng-container matColumnDef="Hora Ingreso">
                    <th mat-header-cell *matHeaderCellDef> Hora Ingreso </th>
                    <td mat-cell *matCellDef="let element"> {{element.hIngreso}} </td>
                  </ng-container>
            
                  <ng-container matColumnDef="H.S.B">
                    <th mat-header-cell *matHeaderCellDef> H.S.B </th>
                    <td mat-cell *matCellDef="let element"> {{element.hsb}} </td>
                  </ng-container>
            
                  <ng-container matColumnDef="H.I.B">
                    <th mat-header-cell *matHeaderCellDef> H.I.B </th>
                    <td mat-cell *matCellDef="let element"> {{element.hib}} </td>
                  </ng-container>
            
                  <ng-container matColumnDef="Hora Salida">
                    <th mat-header-cell *matHeaderCellDef> Hora Salida </th>
                    <td mat-cell *matCellDef="let element"> {{element.hSalida}} </td>
                  </ng-container>

                  <ng-container matColumnDef="H. Trabajadas">
                    <th mat-header-cell *matHeaderCellDef> H. Trabajadas </th>
                    <td mat-cell *matCellDef="let element"> {{element.hTrabajadas}} </td>
                  </ng-container>

                  <ng-container matColumnDef="H. Excedentes">
                    <th mat-header-cell *matHeaderCellDef> H. Excedentes </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="[element.hExcedente > 0 ? 'alertItem':'']"> {{element.hExcedente}} </td>
                  </ng-container>

                  <ng-container matColumnDef="H. Faltantes">
                    <th mat-header-cell *matHeaderCellDef> H. Faltantes </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="[element.hFaltantes > 0 ? 'alertItem':'']"> {{element.hFaltantes}} </td>
                  </ng-container>

                  <ng-container matColumnDef="H. Brake">
                    <th mat-header-cell *matHeaderCellDef> H. Brake </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="[element.hBrake > 1 ? 'alertItem':'']"> {{element.hBrake}} </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                               showFirstLastButtons
                               aria-label="Select page of periodic elements">
                </mat-paginator>
              </div>
              <div class="mat-elevation-z8" *ngIf="tipoTableView == 'timerList'">
                <table mat-table [dataSource]="dataSource_timeList">

                  <ng-container matColumnDef="Nombre completo">
                    <th mat-header-cell *matHeaderCellDef> Nombre completo </th>
                    <td mat-cell *matCellDef="let element"> {{element.nomEmpleado}} </td>
                  </ng-container>
              
               
                  <ng-container matColumnDef="Documento">
                    <th mat-header-cell *matHeaderCellDef> Documento </th>
                    <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
                  </ng-container>
            
                  <ng-container matColumnDef="Fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                  </ng-container>

                  <ng-container matColumnDef="H. Trabajadas">
                    <th mat-header-cell *matHeaderCellDef> H. Trabajadas </th>
                    <td mat-cell *matCellDef="let element"> {{element.hTrabajadas}} </td>
                  </ng-container>

                  <ng-container matColumnDef="H. Excedentes">
                    <th mat-header-cell *matHeaderCellDef> H. Excedentes </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="[element.hExcedente > 0 ? 'alertItem':'']"> {{element.hExcedente}} </td>
                  </ng-container>

                  <ng-container matColumnDef="H. Faltantes">
                    <th mat-header-cell *matHeaderCellDef> H. Faltantes </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="[element.hFaltantes > 0 ? 'alertItem':'']"> {{element.hFaltantes}} </td>
                  </ng-container>

                  <ng-container matColumnDef="H. Brake">
                    <th mat-header-cell *matHeaderCellDef> H. Brake </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="[element.hBrake > 1 ? 'alertItem':'']"> {{element.hBrake}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Accion">
                    <th mat-header-cell *matHeaderCellDef> Accion </th>
                    <td mat-cell *matCellDef="let element"> 
                      <button mat-flat-button color="primary" (click)="openDialog(element.documento)">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                      </button>
                    </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsTimerList; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsTimerList;"></tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                               showFirstLastButtons
                               aria-label="Select page of periodic elements">
                </mat-paginator>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>

