<ion-content>
  <div id="content" class="full-center">
    <div class="card-content-configuration">
      <ion-row>
        <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
          <div class="content-view">
            <ion-row>
              <ion-col>
                <ion-col sizeXs="2" sizeSm="2" sizeMd="2" sizeLg="2">
                  <button (click)="onSaveConfiguration()" type="button" class="btn btn-outline-primary btn-sm save">Guardar configuracion</button>
                </ion-col>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
                <span class="title">CONFIGURACION SERVIDOR EMAIL</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
                <span>Servicio de envio</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col sizeXs="12" sizeSm="12" sizeMd="4" sizeLg="4">
                <mt-input
                id="userEmailService"
                label="Usuario"
                placeholder="Correo electronico"
                type="text"
                value="{{ userEmailService }}"
                (afterChange)="onChangeInput($event)"
              ></mt-input>
              </ion-col>
              <ion-col sizeXs="12" sizeSm="12" sizeMd="4" sizeLg="4">
                <mt-input
                id="passEmailService"
                label="Password"
                placeholder="Password"
                type="text"
                value="{{ passEmailService }}"
                (afterChange)="onChangeInput($event)"
              ></mt-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
                <span>Correo a enviar</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col sizeXs="11" sizeSm="11" sizeMd="4" sizeLg="4">
                <mt-input
                id="emailSend"
                label="Email"
                placeholder="Correo electronico"
                value="{{ emailSend }}"
                (afterChange)="onChangeInput($event)"
                type="text"
              ></mt-input>
              </ion-col>
              <ion-col sizeXs="1" sizeSm="1" sizeMd="4" sizeLg="4" class="aling-left">
                <button (click)="onAddEmailList()" type="button" class="btn btn-outline-primary btn-sm"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <button *ngIf="isEmailDelete" (click)="onDeleteEmail()" type="button" class="btn btn-outline-danger btn-sm"><i class="fa fa-times" aria-hidden="true"></i></button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col sizeXs="12" sizeSm="12" sizeMd="4" sizeLg="4" class="aling-left">
                <div class="list-group full-width">
                  <span (click)="onSelectEmail(email.name)" class="list-group-item list-group-item-action list-group-item-dark" *ngFor="let email of emailList">{{ email.name }}</span>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col sizeXs="12" sizeSm="12" sizeMd="4" sizeLg="4" class="aling-left">
                <button (click)="onSendTestEmail()" type="button" class="btn btn-outline-primary btn-sm"><i class="fa fa-envelope-o" aria-hidden="true"></i> Enviar correo de prueba</button>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>