<ion-content>
  <div id="content" class="full-center-page">

    @if(isLoading){
      <div class="console-loading">
      </div>
      <div style="display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          position: fixed;
          text-align: center;
          width: 100%;
          z-index: 9999999;">
        <div class="loader">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M64 32C28.7 32 0 60.7 0 96v64c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm280 72a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm48 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zM64 288c-35.3 0-64 28.7-64 64v64c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V352c0-35.3-28.7-64-64-64H64zm280 72a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm56 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z"></path></svg>
          <span></span>
        </div>
      </div>
    }
    
    <div class="card-content">
      <ion-row>
        <ion-col sizeXs="12" sizeSm="12" sizeMd="2" sizeLg="2">
          <mt-input id="filterEmpleado" label="Filtro" placeholder="Filtro" type="text" value="{{ filterEmpleado }}"
            (keyup)="applyFilter($event)"></mt-input>
        </ion-col>

        <ion-col sizeXs="12" sizeSm="12" sizeMd="2" sizeLg="2">
          <mt-select id="cboReporte" placeHolder="Tipo Reporte" [optionList]="onListReporte"
            (changeSelected)="onChangeSelect($event)"></mt-select>
        </ion-col>

        <ion-col sizeXs="12" sizeSm="12" sizeMd="2" sizeLg="2">
          <mt-calendar [isPeriodo]="true" [isMultiSelect]="false" [isDefault]="false" placeholder="Periodo"
            (afterChange)="onCaledar($event)"></mt-calendar>
        </ion-col>
        <div style="    background: #a1a1a1;
        width: 1px;
        height: 47px;
        margin-top: 6px;"></div>
        <ion-col sizeXs="12" sizeSm="12" sizeMd="2" sizeLg="2">
          <mt-select id="cboBanco" placeHolder="Pagar" [optionList]="onListBanco"
            (changeSelected)="onChangeSelect($event)"></mt-select>
        </ion-col>

        <ion-col sizeXs="12" sizeSm="12" sizeMd="4" sizeLg="4">
          <div class="content-button postition-start">
            <div class="content-button-comp">
         
              @if(cboBanco == 4){
                <button type="button" class="btn btn-success btn-sm" (click)="onGenTxt()"><i
                  class="fa fa-file-excel-o" aria-hidden="true"></i> Generar TXT</button>
              }@else{
                <button type="button" class="btn btn-success btn-sm" disabled><i
                  class="fa fa-file-excel-o" aria-hidden="true"></i> Generar TXT</button>
              }

              @if(cboBanco == 4){
                <button type="button" class="btn btn-success btn-sm" (click)="onGenTxtTotal()"><i
                  class="fa fa-file-excel-o" aria-hidden="true"></i> Generar Total TXT</button>
              }@else{
                <button type="button" class="btn btn-success btn-sm" disabled><i
                  class="fa fa-file-excel-o" aria-hidden="true"></i> Generar Total TXT</button>
              }
             
              @if(cboBanco == 2){
                <button type="button" class="btn btn-success btn-sm" (click)="onExcelExport()"><i
                  class="fa fa-file-excel-o" aria-hidden="true"></i> Generar Excel</button>
              }@else{
                <button type="button" class="btn btn-success btn-sm" disabled><i
                  class="fa fa-file-excel-o" aria-hidden="true"></i> Generar Excel</button>
              }


            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" class="no-padding-lateral">
          <ion-row>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">

                  <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef> Codigo </th>
                    <td mat-cell *matCellDef="let element"> {{element.CODIGO}} </td>
                  </ng-container>

                  <ng-container matColumnDef="unidad_servicio">
                    <th mat-header-cell *matHeaderCellDef> Unidad de Servicio </th>
                    <td mat-cell *matCellDef="let element"> {{element.UNIDAD_SERVICIO}} </td>
                  </ng-container>

                  <ng-container matColumnDef="nombres">
                    <th mat-header-cell *matHeaderCellDef> Nombres </th>
                    <td mat-cell *matCellDef="let element"> {{element.NOMBRE_COMPLETO}} </td>
                  </ng-container>

                  <ng-container matColumnDef="apellido_paterno">
                    <th mat-header-cell *matHeaderCellDef> Apellido Paterno </th>
                    <td mat-cell *matCellDef="let element"> {{element.APELLIDO_PATERNO}} </td>
                  </ng-container>

                  <ng-container matColumnDef="apellido_materno">
                    <th mat-header-cell *matHeaderCellDef> Apellido Materno </th>
                    <td mat-cell *matCellDef="let element"> {{element.APELLIDO_MATERNO}} </td>
                  </ng-container>

                  <ng-container matColumnDef="nro_documento">
                    <th mat-header-cell *matHeaderCellDef> Nro Documento </th>
                    <td mat-cell *matCellDef="let element"> {{element.NRO_DOCUMENTO}} </td>
                  </ng-container>

                  <ng-container matColumnDef="cta_banco_haberes">
                    <th mat-header-cell *matHeaderCellDef> Cuenta Banco Haberes </th>
                    <td mat-cell *matCellDef="let element"> {{element.CUENTA_BANCO_HABERES}} </td>
                  </ng-container>

                  <ng-container matColumnDef="cta_banco_cts">
                    <th mat-header-cell *matHeaderCellDef> Cta Banco Cts </th>
                    <td mat-cell *matCellDef="let element"> {{element.CUENTA_BANCO_CTS}} </td>
                  </ng-container>

                  <ng-container matColumnDef="cta_interbancario">
                    <th mat-header-cell *matHeaderCellDef> Cuenta Interbancario </th>
                    <td mat-cell *matCellDef="let element"> {{element.CUENTA_INTERBANCARIO}} </td>
                  </ng-container>

                  <ng-container matColumnDef="cta_interbancario_cts">
                    <th mat-header-cell *matHeaderCellDef> Cuenta Interbancario Cts </th>
                    <td mat-cell *matCellDef="let element"> {{element.CUENTA_INTERBANCARIO_CTS}} </td>
                  </ng-container>
                  
                  <ng-container matColumnDef="adelanto_quincena">
                    <th mat-header-cell *matHeaderCellDef> Monto a Pagar </th>
                    <td mat-cell *matCellDef="let element"> {{element.ADELANTO_QUINCENA}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons
                  aria-label="Select page of periodic elements">
                </mat-paginator>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>