<ion-row style="color: black;">
  <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">

      <ion-row>
        <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
          <div style="display: flex;justify-content: right;align-items: center;margin-bottom: 10px;">
            <button type="button" class="btn btn-danger" (click)="onPdf()">
              <span style="margin-right: 5px;">Descargar PDF</span> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            </button>
          </div>
        </ion-col>
      </ion-row>
    <div style="display: flex;justify-content: center;align-items: center;" id="papeleta-pdf">
      <div style="border: 1px solid black;width: 100%;padding: 10px;" *ngFor="let pap of dataPap">
        <div style="width: 778px;display: flex;">
          <div style="width: 129.66px;">
            <div style="display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;">
              <img src="../../../assets/LOGO-METAS-GROUP.png">
            </div>
          </div>
          <div style="width: 518.66px;">
            <div style="display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            font-weight: 500;">
              <span>PAPELETA PERMISO DE SALIDA</span>
            </div>
          </div>
          <div style="width: 129.66px;">
            <div style="display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            font-weight: 500;">
              <span>{{pap.codigo_papeleta}}</span>
            </div>
          </div>
        </div>
        <hr style="border: 1px solid black;height: 0px;">
        <div style="width: 778px;">
          <div style="width: 583.5px;">
            <span style="font-weight: 500;margin-right: 10px;">APELLIDOS Y NOMBRE:</span> <span>{{pap.nombre_completo}}</span>
          </div>
          <div style="width: 194.5px;">
            <span style="font-weight: 500;margin-right: 10px;">FECHA:</span> <span>{{pap.fecha_creacion}}</span>
          </div>
        </div>

        <div style="width: 778px;">
          <div style="width: 778px;">
            <span style="font-weight: 500;margin-right: 10px;">CARGO:</span> <span>{{pap.cargo_empleado}}</span>
          </div>
        </div>

        <div style="width: 778px;">
          <div style="width: 778px;">
            <span style="font-weight: 500;margin-right: 10px;">UNIDAD DE SERVICIO:</span> <span>{{pap.uns}}</span>
          </div>
        </div>

        <div style="width: 778px;">
          <div style="width: 778px;">
            <span style="font-weight: 500;margin-right: 10px;">TIPO PAPELETA:</span> <span>{{pap.tipo_papeleta}}</span>
          </div>
        </div>

        <hr style="border: 1px solid black;height: 0px;">

        <div style="width: 778px;display: flex;">
          <div style="width: 389px;">
            <span style="font-weight: 500;margin-right: 10px;">DESDE:</span> <span>{{pap.fecha_desde}}</span>
          </div>
          <div style="width: 389px;">
            <span style="font-weight: 500;margin-right: 10px;">SALIDA:</span> <span>{{pap.hora_salida}}</span>
          </div>
        </div>

        <div style="width: 778px;display: flex;">
          <div style="width: 389px;">
            <span style="font-weight: 500;margin-right: 10px;">HASTA:</span> <span>{{pap.fecha_hasta}}</span>
          </div>
          <div style="width: 389px;">
            <span style="font-weight: 500;margin-right: 10px;">LLEGADA:</span> <span>{{pap.hora_llegada}}</span>
          </div>
        </div>
        <br>
        <div style="width: 778px;display: flex;" *ngIf="bodyList.length">
          <div style="width: 389px;">
          </div>
          <div style="width: 389px;">
            <span style="font-weight: 500;margin-right: 10px;">HORAS SOLICITADAS:</span> <span>{{pap.hora_solicitada}}</span>
          </div>
        </div>

        <hr style="border: 1px solid black;height: 0px;">
        <div style="width: 100%;">
            <table class="table table-bordered table-hover" *ngIf="bodyList.length">
              <thead>
                <tr>
                  <th class="columHead">Fecha</th>
                  <th class="columHead">Hora Extra</th>
                  <th class="columHead">Hora Solicitado</th>
                  <th class="columHead">Hora Sobrante</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let columBody of bodyList;let index = index">
                  <td class="columBody">{{columBody.fecha}}</td>
                  <td class="columBody">{{columBody.hrx_acumulado}}</td>
                  <td class="columBody">{{columBody.hrx_solicitado}}</td>
                  <td class="columBody">{{columBody.hrx_sobrante}}</td>
                </tr>
              </tbody>
            </table>

            <span style="color: black;font-weight: 500;" *ngIf="!bodyList.length">Descripcion:</span><br>
            <span style="color: black;" *ngIf="!bodyList.length">{{pap.descripcion}}</span>
        </div>
      </div>
    </div>
  </ion-col>
</ion-row>