<div id="content">
  <ion-row>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
      <div class="head-content">
        <ion-row>
          <ion-col sizeXs="10" sizeSm="10" sizeMd="10" sizeLg="10">
            <span class="head-title">{{title}}</span>
          </ion-col>
          <ion-col sizeXs="2" sizeSm="2" sizeMd="2" sizeLg="2" class="aling-right">
            <span class="head-close" (click)="oncloseModal()">
              <i class="fa fa-times" aria-hidden="true"></i>
            </span>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
      <div class="body-content">
        <mt-frm-add-postulant *ngIf="bodyContent == 'mt-frm-add-postulant'"></mt-frm-add-postulant>
        <mt-frm-generate-link *ngIf="bodyContent == 'mt-frm-generate-link'"></mt-frm-generate-link>
        <mt-frm-change-std-postulant [data]="dataIn" *ngIf="bodyContent == 'mt-frm-change-std-postulant'"></mt-frm-change-std-postulant>
        <mt-frm-add-employee [dataEmployeeList]="dataEmployeeList" (onResponse)="onResponseComponent($event)" *ngIf="bodyContent == 'mt-frm-add-employee'"></mt-frm-add-employee>
        <mt-view-asistencia [dataAsistencia]="dataAsistencia" *ngIf="bodyContent == 'mt-view-asistencia'"></mt-view-asistencia>
        <mt-menu-crud *ngIf="bodyContent == 'mt-menu-crud'"></mt-menu-crud>
      </div>
    </ion-col>
   <!--<ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
      <div class="footer-content">
        <button type="button" class="btn btn-primary btn-sm">OK</button>
      </div>
    </ion-col>-->
  </ion-row>
</div>