

<ion-content>
  <div id="content" class="full-center-page">
    <div class="console-loading" *ngIf="isLoading">
      <div class="loader"></div>
    </div>
  <!--  <div class="console-loading" *ngIf="isProccess">
      <table class="table table-bordered table-hover table-process">
        <thead>
          <tr>
            <th class="columHead" *ngFor="let columHead of headListTienda;let i = index">{{columHead}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let columBody of onListTiendas;let index = index" class="columData">
            <td class="columBody">{{columBody.name}}</td>
            <td class="columBody">{{columBody.procesar}}</td>
            <td class="columBody">{{columBody.procesado}}</td>
            <td class="columBody">
              <span *ngIf="columBody.procesar == columBody.procesado" style="color: green;"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
              <span *ngIf="columBody.procesar != columBody.procesado"><i class="fa fa-circle-o" aria-hidden="true"></i></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>-->
   <div class="card-content">
      <ion-row>
        <ion-col sizeXs="12" sizeSm="12" sizeMd="2" sizeLg="2">
          <div class="content-button-comp" *ngIf="!isVendedor">
            <mt-select
            id="selectedUS"
            placeHolder="Unidad de servico"
            [optionList]="onListMarcas"
            (changeSelected)="onChangeSelect($event)"
            ></mt-select>
          </div>
          <mt-input
          *ngIf="isVendedor"
          id="barcode"
          label="Codigo de barra"
          placeholder="Codigo de barra"
          type="text"
          value="{{ barcode }}"
          (afterChange)="onChangeInput($event)"
        ></mt-input>
        </ion-col>
        <ion-col sizeXs="12" sizeSm="12" sizeMd="3" sizeLg="3">
          <div class="content-button postition-start">
            <div class="content-button-comp">
              <button  type="button" class="btn btn-primary btn-sm" (click)="onStockTable()"><i class="fa fa-search" aria-hidden="true"></i></button> 
              <button  type="button" class="btn btn-success btn-sm" (click)="onExcelExport()"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Exportar Excel</button>  
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" class="no-padding-lateral">
          <ion-row>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th class="columHead" *ngFor="let columHead of headList;let i = index">{{columHead}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="!onDataView.length" style="text-align: center;">
                    <td colspan="27">No hay datos para mostrar</td>
                  </tr>
                  <tr *ngFor="let columBody of onDataView;let index = index" class="columData">
                    <td class="columBody">{{columBody.cCodigoBarra}}</td>
                    <td class="columBody">{{columBody.cReferencia}}</td>
                    
                    <td class="columBody">{{columBody.cDescripcion}}</td>
                    <td class="columBody">{{columBody.cDepartamento}}</td>
                    <td class="columBody">{{columBody.cSeccion}}</td>
                    <td class="columBody">{{columBody.cFamilia}}</td>
                    <td class="columBody">{{columBody.cSubFamilia}}</td>
                    <td class="columBody">{{columBody.cTemporada}}</td>
                    <td class="columBody">{{columBody.cTalla}}</td>
                    <td class="columBody">{{columBody.cColor}}</td>
                    <td class="columBody" *ngIf="selectedUS == 'BATH AND BODY WORKS'">{{columBody.BBW_JOC}}</td>
                    <td class="columBody" *ngIf="selectedUS == 'VICTORIA SECRET'">{{columBody.VS_AQP}}</td>
                    <td class="columBody" *ngIf="selectedUS == 'BATH AND BODY WORKS'">{{columBody.BBW_AQP}}</td>
                    <td class="columBody" *ngIf="selectedUS == 'BATH AND BODY WORKS'">{{columBody.BBW_LRB}}</td>
                    <td class="columBody" *ngIf="selectedUS == 'VICTORIA SECRET'">{{columBody.VS_LRB}}</td>
                    <td class="columBody" *ngIf="selectedUS == 'VICTORIA SECRET'">{{columBody.VS_PN}}</td>
                    <td class="columBody" *ngIf="selectedUS == 'BATH AND BODY WORKS'">{{columBody.BBW_PSM}}</td>
                    <td class="columBody" *ngIf="selectedUS == 'VICTORIA SECRET'">{{columBody.VS_PSM}}</td>
                    <td class="columBody" *ngIf="selectedUS == 'BATH AND BODY WORKS'">{{columBody.BBW_RPS}}</td>
                    <td class="columBody" *ngIf="selectedUS == 'VICTORIA SECRET'">{{columBody.VS_RPS}}</td>
                    <td class="columBody" *ngIf="selectedUS == 'VICTORIA SECRET'">{{columBody.VS_MDS}}</td>
                    <td class="columBody" *ngIf="selectedUS == 'VICTORIA SECRET'">{{columBody.VS_PUR}}</td>
                    <td class="columBody" *ngIf="selectedUS == 'VICTORIA SECRET'">{{columBody.VS_ECOM}}</td>
                    <td class="columBody" *ngIf="selectedUS == 'BATH AND BODY WORKS'">{{columBody.BBW_ECOM}}</td>
                    <td class="columBody" *ngIf="selectedUS == 'VICTORIA SECRET'">{{columBody.VS_MEP}}</td>
                    <td class="columBody" *ngIf="selectedUS == 'VICTORIA SECRET'">{{columBody.VS_MNK}}</td>
                    <td class="columBody" *ngIf="selectedUS == 'VICTORIA SECRET'">{{columBody.VSFA_JOC}}</td>
                    <td class="columBody" *ngIf="selectedUS == 'BATH AND BODY WORKS'">{{columBody.BBW_ASIA}}</td>
                    <td class="columBody" *ngIf="selectedUS == 'VICTORIA SECRET'">{{columBody.VS_M_PLAZA}}</td>
                    <td class="columBody" *ngIf="selectedUS == 'BATH AND BODY WORKS'">{{columBody.BBW_M_PLAZA}}</td>
                  </tr>
                </tbody>
              </table>
         <!--     
              <nav aria-label="..." class="pagination">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" (click)="onViewPrevius()">Previous</a>
                  </li>
                  <li class="page-item" *ngFor="let pagina of onListPagination| slice:0:5"><a class="page-link" (click)="onViewDataTable(pagina.pAnterior,pagina.pActual)">{{pagina.pActual}}</a></li>
                  <li class="page-item">
                    <a class="page-link" (click)="onViewNext()">Next</a>
                  </li>
                </ul>
              </nav>
              -->
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>

    <div class="card-content" *ngIf="!isVendedor">
      <ion-row>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="5" sizeLg="5">
        <div class="card-content-configuration">
          <ion-row>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
              <div class="content-view">
                <ion-row class="border-bottom-title">
                  <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
                    <div style="text-align: center;">
                      <button  type="button" class="btn btn-primary btn-sm" (click)="onCargaInventario()"><i class="fa fa-repeat" aria-hidden="true"></i> Generar y Enviar Email</button>
                      <mt-select
                      id="selectedEmail"
                      placeHolder="Email"
                      [optionList]="optionListEmail"
                      (changeSelected)="onChangeSelect($event)"
                      ></mt-select>
                      <span *ngIf="isError" style="color: red;">Seleccione el correo donde se enviaran los reportes</span>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="border-bottom-title">
                  <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
                    <div style="text-align: center;">
                      <div class="form-check form-switch all-checked">
                        <label class="form-check-label" for="flexSwitchCheckDefault" style="color: black;">All</label>
                        <input class="form-check-input" type="checkbox" id="allChecked" (change)="onCheked($event,'all')">
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
                    <ol class="list-group">
                      <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let tienda of tiendasList">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">{{tienda.value}}</div>
                        </div>
                        <span class="badge text-bg-success rounded-pill" *ngIf="tienda.progress == 0"><i class="fa fa-check" aria-hidden="true"></i></span>
                        <span class="badge bg-primary rounded-pill" *ngIf="tienda.progress > 0">{{tienda.progress}}%</span>
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault checkbox-item" (change)="onCheked($event,tienda.key)" [checked]="tienda.checked">
                        </div>
                      </li>
                    </ol>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      </ion-row>
    </div>

  </div>
</ion-content>


