.number-text {
    font-size: 21px;
}

.content-icon {
    font-size: 40px;
}

.text-end {
    font-size: 19px;
}

.card-footer {
    cursor: pointer;
}

.card-footer:hover {
    background: #e5e5e5;
}