<ion-content>
  <div id="content">
    <ion-row>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="3" sizeLg="3">
            <div class="card h-100">
              <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                  <div>
                    <h3 class="number-text text-red">20</h3>
                    <p class="subtitle text-sm text-muted mb-0">Cantidad Tiendas</p>
                  </div>
                  <div class="content-icon">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="card-footer py-3 bg-red-light">
                <div class="row align-items-center text-red">
                  <div class="col-10">
                    <p class="mb-0">ver mas</p>
                  </div>
                  <div class="col-2 text-end"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="3" sizeLg="3">
            <div class="card h-100">
              <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                  <div>
                    <h3 class="number-text text-red">{{countClientes}}</h3>
                    <p class="subtitle text-sm text-muted mb-0">clientes blanco</p>
                  </div>
                  <div class="content-icon">
                    <i class="fa fa-users" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="card-footer py-3 bg-red-light">
                <div class="row align-items-center text-red">
                  <div class="col-10">
                    <p class="mb-0">ver mas</p>
                  </div>
                  <div class="col-2 text-end"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="3" sizeLg="3">
            <div class="card h-100">
              <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                  <div>
                    <h3 class="number-text text-red">0</h3>
                    <p class="subtitle text-sm text-muted mb-0">Errores Sunat</p>
                  </div>
                  <div class="content-icon">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="card-footer py-3 bg-red-light">
                <div class="row align-items-center text-red">
                  <div class="col-10">
                    <p class="mb-0">ver mas</p>
                  </div>
                  <div class="col-2 text-end"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="3" sizeLg="3">
            <div class="card h-100">
              <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                  <div>
                    <h3 class="number-text text-red">200</h3>
                    <p class="subtitle text-sm text-muted mb-0">Traffic Counter</p>
                  </div>
                  <div class="content-icon">
                    <i class="fa fa-wifi" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="card-footer py-3 bg-red-light">
                <div class="row align-items-center text-red">
                  <div class="col-10">
                    <p class="mb-0">ver mas</p>
                  </div>
                  <div class="col-2 text-end"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="columHead" *ngFor="let columHead of headList;let i = index">{{columHead}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let columBody of bodyList;let index = index">
              <td class="columBody">{{columBody.codigo}}</td>
              <td class="columBody">{{columBody.Tienda}}</td>
              <td class="columBody">
                <span class="badge bg-success-comprobantes"
                  *ngIf="columBody.cant_comprobantes == 0">{{columBody.cant_comprobantes}}</span>
                <span class="badge bg-danger"
                  *ngIf="columBody.cant_comprobantes != 0">{{columBody.cant_comprobantes}}</span>
              </td>
              <td class="columBody">
                <div [ngClass]="[columBody.online == 1 ? 'blob blue': 'blob red']"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
        <ion-row>
          <ion-col class="no-padding">
            <table class="table table-bordered table-sunat">
              <thead>
                <tr>
                  <th class="columHead" *ngFor="let columHead of headListSunat;let i = index">{{columHead}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let columBody of bodyListSunat;let index = index">
                  <td class="columBody">{{index + 1}}</td>
                  <td class="columBody">{{columBody.cod_documento}}</td>
                  <td class="columBody">{{columBody.nro_correlativo}}</td>
                  <td class="columBody">{{columBody.nom_aquiriente}}</td>
                  <td class="columBody">{{columBody.nro_documento}}</td>
                  <td class="columBody">{{columBody.tipo_doc_adquiriente}}</td>
                  <td class="columBody">{{columBody.observacion}}</td>
                  <td class="columBody">{{columBody.estado_sunat}}</td>
                  <td class="columBody">{{columBody.estado_comprobante}}</td>
                  <td class="columBody">{{columBody.codigo_sunat}}</td>
                  <td class="columBody">{{columBody.fecha_emision}}</td>
                </tr>
                <tr>
                  <td class="columBody" *ngIf="!bodyListSunat.length" colspan="5">
                        No hay Errores
                  </td>
                </tr>
              </tbody>
            </table>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
