.card-content {
    button {
        margin-right: 10px !important;
    }
}

#content {
    //height: 100% !important;
    background-color: white !important;
}

.mat-drawer-over {
    width: 50% !important;
    border-radius: 0px !important;
}