<div class="content">
  <ion-row>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
      <mt-input
      id="aEmpNombre"
      label="Nombres"
      placeholder="Ingrese nombre completo"
      type="text"
      [value]="aEmpNombre"
      (afterChange)="onChangeInput($event)"
    ></mt-input>
    </ion-col>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
      <mt-input
      id="aEmpCodigoEjb"
      label="Codigo EJB"
      placeholder="Ingrese Codigo Ejb"
      type="text"
      [value]="aEmpCodigoEjb"
      (afterChange)="onChangeInput($event)"
    ></mt-input>
    </ion-col>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
      <mt-input
      id="aEmpApellido"
      label="Apellido Paterno"
      placeholder="Ingrese apellido paterno"
      type="text"
      [value]="aEmpApellido"
      (afterChange)="onChangeInput($event)"
    ></mt-input>
    </ion-col>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
      <mt-input
      id="aEmpMaterno"
      label="Apellido Materno"
      placeholder="Ingrese apellido materno"
      type="text"
      [value]="aEmpMaterno"
      (afterChange)="onChangeInput($event)"
    ></mt-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
      <mt-select
      id="paisNacimiento"
      [optionList]="optionListPais"
      [enableSearchInput]="true"
      placeHolder="Buscar pais"
      [selectOption]="selectOptionPais"
      (changeSelected)="onChangeSelect($event)"
      ></mt-select>
    </ion-col>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
      <mt-select
      id="tiendaEmpleado"
      [enableSearchInput]="true"
      placeHolder="Buscar tienda"
      [optionList]="optionListTiendas"
      [selectOption]="selectOptionTienda"
      (changeSelected)="onChangeSelect($event)"
      ></mt-select>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col sizeXs="6" sizeSm="6" sizeMd="6" sizeLg="6">
      <mt-select
      id="estadoCivil"
      [optionList]="optionListEstadoCivil"
      [selectOption]="selectOptionSTC"
      (changeSelected)="onChangeSelect($event)"
      ></mt-select>
    </ion-col>
    <ion-col sizeXs="6" sizeSm="6" sizeMd="6" sizeLg="6">
      <mt-select
      id="tipoDocumento"
      [optionList]="optionListTipoDoc"
      [selectOption]="selectOptionTdoc"
      (changeSelected)="onChangeSelect($event)"
      ></mt-select>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
      <mt-input
      id="aEmpNumDocumento"
      label="Numero documento"
      placeholder="Ingrese numero documento"
      type="text"
      [value]="aEmpNumDocumento"
      (afterChange)="onChangeInput($event)"
    ></mt-input>
    </ion-col>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
      <mt-input
      id="aEmpNumTelefono"
      label="Telefono empleado"
      placeholder="Ingrese numero telefonico"
      type="text"
      [value]="aEmpNumTelefono"
      (afterChange)="onChangeInput($event)"
    ></mt-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
      <mt-input
      id="aEmpEmail"
      label="Correo electronico"
      placeholder="Ingrese correo electronico"
      type="text"
      [value]="aEmpEmail"
      (afterChange)="onChangeInput($event)"
    ></mt-input>
    </ion-col>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
      <mt-calendar
      *ngIf="!isUpdate"
      id="aEmpFechaNac"
      label="Fecha Nacimiento"
      (afterChange)="onChangeInput($event)"
      ></mt-calendar>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
      <div class="buttons">
        <button type="button" (click)="onAddRegister()" class="btn btn-primary btn-sm">{{textButton}}</button>
      </div>
    </ion-col>
  </ion-row>
</div>
