@if(isLoading){
  <div class="console-loading">
  </div>
  <div style="display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: fixed;
      text-align: center;
      width: 100%;
      z-index: 9999999;">
    <div class="loader">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M64 32C28.7 32 0 60.7 0 96v64c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm280 72a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm48 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zM64 288c-35.3 0-64 28.7-64 64v64c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V352c0-35.3-28.7-64-64-64H64zm280 72a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm56 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z"></path></svg>
      <span></span>
    </div>
  </div>
}

<mat-drawer-container [hasBackdrop]="true" style="height: 100%;">
  <mat-drawer #drawer [mode]="'over'" position="end">
    <ion-row>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" style="display: flex;align-items: center;">
        <div style="padding: 15px;width: 100%;border-bottom: 1px solid #d1d1d1;">
          <button id="searchProducto" type="button" class="btn btn-primary btn-sm" style="margin-right: 10px;">
            Guardar
          </button>
          <button id="searchProducto" type="button" class="btn btn-success btn-sm">
            Limpiar
          </button>
        </div>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
        <mt-input id="vNumeroDoc" label="Despacho PO" placeholder="Despacho PO" type="text" value="{{ vNumeroDoc }}"></mt-input>
      </ion-col>
    </ion-row>
      <ion-row>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
        <mt-input id="vNumeroDoc" label="Size" placeholder="Size" type="text" value="{{ vNumeroDoc }}"></mt-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="7" sizeLg="7">
        <mt-input id="vNumeroDoc" label="Contenedor" placeholder="Contenedor" type="text" value="{{ vNumeroDoc }}"></mt-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="5" sizeLg="5">
        <mt-input id="vNumeroDoc" label="Tasa de cambio" placeholder="Tasa de cambio" type="text" value="{{ vNumeroDoc }}"></mt-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="5" sizeLg="5">
        <mt-input id="vNumeroDoc" label="Total de gastos (En soles)" placeholder="Total de gastos (En soles)" type="text" value="{{ vNumeroDoc }}"></mt-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="5" sizeLg="5">
        <mt-input id="vNumeroDoc" label="Flete y acarreo (En soles)" placeholder="Flete y acarreo (En soles)" type="text" value="{{ vNumeroDoc }}"></mt-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="5" sizeLg="5">
        <mt-input id="vNumeroDoc" label="Registro sanitario (En soles)" placeholder="Registro sanitario (En soles)" type="text" value="{{ vNumeroDoc }}"></mt-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
        <mt-input id="vNumeroDoc" label="Motivo" placeholder="Motivo" type="text" value="{{ vNumeroDoc }}"></mt-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="7" sizeLg="7">
        <mt-input id="vNumeroDoc" label="Tipo de documento" placeholder="Tipo de documento" type="text" value="{{ vNumeroDoc }}"></mt-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="5" sizeLg="5">
        <mt-input id="vNumeroDoc" label="Numero serie documento" placeholder="Numero serie documento" type="text" value="{{ vNumeroDoc }}"></mt-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
        <mt-input id="vNumeroDoc" label="Observacion" placeholder="Observacion" type="text" value="{{ vNumeroDoc }}"></mt-input>
      </ion-col>
    </ion-row>
  </mat-drawer>
  <mat-drawer-content>
    <ion-content>
      <div id="content" class="full-center">
        <div class="card-content">
          <ion-row>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="2" sizeLg="2">
              <mt-select id="cboTiendaConsulting" (changeSelected)="onChangeSelect($event)" placeHolder="Seleccione Tienda" [optionList]="cboListTienda"></mt-select>
            </ion-col>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="2" sizeLg="2">
              <mt-calendar [isPeriodo]="false" [isMultiSelect]="false" [isDefault]="false" [isRange]="true"
              placeholder="Seleccione fechas" (afterChange)="onCaledar($event)"></mt-calendar>
            </ion-col>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="2" sizeLg="2" style="display: flex;align-items: center;">
                <button id="searchProducto" type="button" class="btn btn-primary btn-sm" (click)="onSearch()">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <button id="searchProducto" (click)="drawer.toggle()" type="button" class="btn btn-success btn-sm">
                  Campos libres
                </button>
            </ion-col>
          </ion-row>
          <ion-row style="border: 1px solid #d1d1d1;border-radius: 7px;">
            <ion-col sizeXs="12" sizeSm="12" sizeMd="3" sizeLg="3" style="border-right: 1px solid #d1d1d1;">
              <ion-row>
                <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
                  <form [formGroup]="form" style="width: 100%;">
                    <mat-selection-list #shoesList [formControl]="shoesControl" name="shoes" [multiple]="false">
                      @for (shoe of dataAlbaran; track shoe) {
                        <mat-list-option [value]="shoe.value" (click)="onSelectAlbaran(shoe)">{{shoe.name}}</mat-list-option>
                      }
                    </mat-selection-list>
                    <p>
                       Option selected: {{shoesControl.value ? shoesControl.value[0] : 'None'}} 
                    </p>
                  </form>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="9" sizeLg="9">
              <ion-row>
                <ion-col sizeXs="12" sizeSm="12" sizeMd="1" sizeLg="1">
                  <mt-input id="vSerieDoc" label="Serie" placeholder="Serie documento" type="text" value="{{ vSerieDoc }}"></mt-input>
                </ion-col>
                <ion-col sizeXs="12" sizeSm="12" sizeMd="2" sizeLg="2">
                  <mt-input id="vNumeroDoc" label="Numero" placeholder="Numero documento" type="text" value="{{ vNumeroDoc }}"></mt-input>
                </ion-col>
                <ion-col sizeXs="12" sizeSm="12" sizeMd="2" sizeLg="2">
                  <mt-input id="vAlbaran" label="Albaran" placeholder="Numero albaran" type="text" value="{{ vAlbaran }}"></mt-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col sizeXs="12" sizeSm="12" sizeMd="2" sizeLg="2">
                  <mt-input id="vFechaDoc" label="Fecha" placeholder="Fecha documento" type="text" value="{{ vFechaDoc }}"></mt-input>
                </ion-col>
                <ion-col sizeXs="12" sizeSm="12" sizeMd="2" sizeLg="2">
                  <mt-input id="vHoraDoc" label="Hora" placeholder="Hora documento" type="text" value="{{ vHoraDoc }}"></mt-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
                  <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="referencia">
                          <th mat-header-cell *matHeaderCellDef> Referencia </th>
                          <td mat-cell *matCellDef="let element"> {{element.dtReferencia}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="talla">
                          <th mat-header-cell *matHeaderCellDef> Talla </th>
                          <td mat-cell *matCellDef="let element"> 
                            <span>{{element.dtTallav}}</span>
                          </td>
                        </ng-container>
        
                        <ng-container matColumnDef="color">
                          <th mat-header-cell *matHeaderCellDef> Color </th>
                          <td mat-cell *matCellDef="let element"> 
                            <span>{{element.dtColor}}</span>
                          </td>
                        </ng-container>
        
                        <ng-container matColumnDef="descripcion">
                          <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                          <td mat-cell *matCellDef="let element"> 
                            <span>{{element.dtDescripcion}}</span>
                          </td>
                        </ng-container>
        
                        <ng-container matColumnDef="unid">
                          <th mat-header-cell *matHeaderCellDef> Unid </th>
                          <td mat-cell *matCellDef="let element"> 
                            <span>{{element.dtUnidades}}</span>
                          </td>
                        </ng-container>
        
                        <ng-container matColumnDef="precio">
                          <th mat-header-cell *matHeaderCellDef> Precio </th>
                          <td mat-cell *matCellDef="let element"> 
                            <span>{{element.dtPrecio}}</span>
                          </td>
                        </ng-container>
        
                        <ng-container matColumnDef="descuento">
                          <th mat-header-cell *matHeaderCellDef> Descuento </th>
                          <td mat-cell *matCellDef="let element"> 
                            <span>{{element.dtDescuento}}</span>
                          </td>
                        </ng-container>
        
                        <ng-container matColumnDef="total">
                          <th mat-header-cell *matHeaderCellDef> Total </th>
                          <td mat-cell *matCellDef="let element"> 
                            <span>{{element.dtTotal}}</span>
                          </td>
                        </ng-container>
        
                        <ng-container matColumnDef="almacen">
                          <th mat-header-cell *matHeaderCellDef> Almacen </th>
                          <td mat-cell *matCellDef="let element"> 
                            <span>{{element.dtAlmacen}}</span>
                          </td>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons
                      aria-label="Select page of periodic elements">
                    </mat-paginator>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
                 <div style="padding-top: 30px;">
                  <span style="color: black;font-weight: 500;">Vencimiento</span>
                 </div>
                </ion-col>
                <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
                  <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSourceVenc">
                        <ng-container matColumnDef="forma_pago">
                          <th mat-header-cell *matHeaderCellDef> Forma de pago </th>
                          <td mat-cell *matCellDef="let element"> {{element.forma_pago}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="importe">
                          <th mat-header-cell *matHeaderCellDef> Importe </th>
                          <td mat-cell *matCellDef="let element"> 
                            <span>{{element.importe}}</span>
                          </td>
                        </ng-container>
        
                        <ng-container matColumnDef="medio_pago">
                          <th mat-header-cell *matHeaderCellDef> Medio de pago </th>
                          <td mat-cell *matCellDef="let element"> 
                            <span>{{element.medio_pago}}</span>
                          </td>
                        </ng-container>
        
                        <ng-container matColumnDef="estado">
                          <th mat-header-cell *matHeaderCellDef> Estado </th>
                          <td mat-cell *matCellDef="let element"> 
                            <span>{{element.estado}}</span>
                          </td>
                        </ng-container>
        
                        <ng-container matColumnDef="fecha_cobro">
                          <th mat-header-cell *matHeaderCellDef> Fecha de cobro </th>
                          <td mat-cell *matCellDef="let element"> 
                            <span>{{element.fecha_cobro}}</span>
                          </td>
                        </ng-container>
            
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsVenc"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsVenc;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons
                      aria-label="Select page of periodic elements">
                    </mat-paginator>
                  </div>
                </ion-col>
                <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
                  <ion-row>
                    <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
                      <div style="display: inline-flex;justify-content: end; align-items: center;width: 100%;">
                        <span style="color: black;padding-right: 20px;">Total bruto - USD</span>
                        <mt-input id="vBruto" label="Total bruto" placeholder="Total bruto" type="text" value="{{ vBruto }}"></mt-input>
                      </div>
                    </ion-col>
                    <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
                      <div style="display: inline-flex;justify-content: end; align-items: center;width: 100%;">
                        <span style="color: black;padding-right: 20px;">Total Cargos/Dtos - USD</span>
                        <mt-input id="vDescuentos" label="Total Cargos/Dtos" placeholder="Total Cargos/Dtos" type="text" value="{{ vDescuentos }}"></mt-input>
                      </div>
                    </ion-col>
                    <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
                      <div style="display: inline-flex;justify-content: end; align-items: center;width: 100%;">
                        <span style="color: black;padding-right: 20px;">Base imponible - USD</span>
                        <mt-input id="vImponible" label="Base imponible" placeholder="Base imponible" type="text" value="{{ vImponible }}"></mt-input>
                      </div>
                    </ion-col>
                    <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
                      <div style="display: inline-flex;justify-content: end; align-items: center;width: 100%;">
                        <span style="color: black;padding-right: 20px;">Impuestos - USD</span>
                        <mt-input id="vImpuestos" label="Impuestos" placeholder="Impuestos" type="text" value="{{ vImpuestos }}"></mt-input>
                      </div>
                    </ion-col>
                    <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
                      <div style="display: inline-flex;justify-content: end; align-items: center;width: 100%;">
                        <span style="color: black;padding-right: 20px;">Total bruto - USD</span>
                        <mt-input id="vTBruto" label="Total neto" placeholder="Total neto" type="text" value="{{ vTBruto }}"></mt-input>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-content>
  </mat-drawer-content>
</mat-drawer-container>

