.card-content {
    button {
        margin-right: 10px !important;
    }
}

#content {
    //height: 100% !important;
    background-color: white !important;
}

mat-grid-list {
    mat-grid-tile .mat-grid-tile-content {
        display: flex;
        justify-content: center;
        align-items: start;
    }
}