<ion-row>
  <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">

    @if(isPresentRange) {

      <mat-form-field appearance="outline">
        <mat-label>{{placeholder}}</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="pickerSemana">
          <input matStartDate formControlName="start" placeholder="Start date"  (dateChange)="onChangeInput($event)">
          <input matEndDate formControlName="end" placeholder="End date"  (dateChange)="onChangeInput($event)">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="pickerSemana"></mat-datepicker-toggle>
        <mat-date-range-picker #pickerSemana></mat-date-range-picker>
      </mat-form-field>

      <!--
      <mbsc-datepicker
        [controls]="['calendar']"
        select="preset-range"
        rangeHighlight="true"
        [showRangeLabels]="true"
        rangeStartLabel="Outbound"
        placeholder="Fecha Semana"
        [selectSize]="7"
        placeholder="{{placeholder}}"
        [firstSelectDay]="1"
        dateFormat="DD-MM-YYYY"
        [(ngModel)]="selected"
        [locale]="localeEs"
        (change)="onChangeInput(selected)"
        rangeEndLabel="Return">
      </mbsc-datepicker>
      -->
    }
    @if(isRange) {

      <mat-form-field appearance="outline">
        <mat-label>{{placeholder}}</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date"  (dateChange)="onChangeInput($event,'')">
          <input matEndDate formControlName="end" placeholder="End date"  (dateChange)="onChangeInput('',$event)">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <!--
      <mbsc-datepicker
      select="range"
      rangeHighlight="true"
      [showRangeLabels]="true"
      rangeStartLabel="Outbound"
      placeholder="{{placeholder}}"
      dateFormat="DD-MM-YYYY"
      [(ngModel)]="selected"
      (change)="onChangeInput(selected)"
      [locale]="localeEs"
      rangeEndLabel="Return">
      </mbsc-datepicker>
      -->
    }

    @if(isPeriodo) {

      <mat-form-field appearance="outline">
        <mat-label>{{placeholder}}</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="date">
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp
                        startView="multi-year"
                        (yearSelected)="chosenYearHandler($event)"
                        (monthSelected)="chosenMonthHandler($event, dp)"
                        panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>

      
 <!--
      <mat-form-field appearance="outline">
        <mat-label>Periodo</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="date" (dateChange)="onChangeInput($event)">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker ></mat-datepicker>
      </mat-form-field>
      -->
    }

    @if(isMultiSelect) {
      <mat-form-field appearance="outline" class="mtChip">
        <mat-chip-list #chipList aria-label="Choose a date" (click)="picker.open()">
          <mat-chip
            *ngFor="let value of model"
            [selectable]="false"
            [removable]="true"
            (removed)="remove(value)"
          >
            {{ value | date: 'yyyy/MM/dd' }}
            <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
          </mat-chip>
          <input
            [value]="resetModel"
            matInput
            [matDatepicker]="picker"
            placeholder="Choose a date"
            (dateChange)="dateChanged($event)"
            [matChipInputFor]="chipList"
            hidden
          />
        </mat-chip-list>
        <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker
          #picker
          [startAt]="init"
          [dateClass]="dateClass"
        ></mat-datepicker>
      </mat-form-field>

      <!--
      <mbsc-datepicker
      [controls]="['calendar']"
      theme="windows"
      themeVariant="dark"
      [selectMultiple]="true"
      [selectMax]="maxSelect"
      [(ngModel)]="selected"
      (change)="onChangeInput(selected)"
      placeholder="{{placeholder}}"
      dateFormat="DD-MM-YYYY"
      [locale]="localeEs"
      >
    </mbsc-datepicker>-->
    }

    @if(isDefault) {
      <mat-form-field appearance="outline">
        <mat-label>{{placeholder}}</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="date" (dateChange)="onChangeInput($event)">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker ></mat-datepicker>
      </mat-form-field>
      
<!--
      <mbsc-datepicker
      [controls]="['calendar']"
      [(ngModel)]="selected"
      (change)="onChangeInput(selected)"
      placeholder="{{placeholder}}"
      dateFormat="DD-MM-YYYY"
      [locale]="localeEs"
      >
      </mbsc-datepicker>-->
    }

    @if(isTime){
      <mat-form-field appearance="outline">
        <mat-label>{{placeholder}}</mat-label>
        <input type="time" matInput [name]="id" [(ngModel)]="vTimer" (keyup)="onChangeInput($event)" value="value"/>
      </mat-form-field>

      <!--
      <mbsc-datepicker
      theme="windows"
      [controls]="['time']"
      placeholder="{{placeholder}}"
      (onClose)="onChangeInput($event)"
      [locale]="localeEs"
      >
     </mbsc-datepicker>
     -->
    }

  </ion-col>
</ion-row>