<ion-row>
  <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">

    @if(isPeriodo) {
      <mbsc-datepicker 
      [controls]="['calendar']"
      dateFormat="MM/YYYY"
      theme="windows"
      themeVariant="dark"
      [(ngModel)]="selected"
      (change)="onChangeInput(selected)"
      placeholder="Seleccione el periodo"
      >
    </mbsc-datepicker>
    }

    @if(isMultiSelect) {
      <mbsc-datepicker
      [controls]="['calendar']"
      theme="windows"
      themeVariant="dark"
      [selectMultiple]="true"
      [selectMax]="maxSelect"
      [(ngModel)]="selected"
      (change)="onChangeInput(selected)"
      placeholder="Seleccione las fechas"
      dateFormat="DD-MM-YYYY"
      >
    </mbsc-datepicker>
    }

    @if(isDefault) {
      <mbsc-datepicker
      [controls]="['calendar']"
      [(ngModel)]="selected"
      (change)="onChangeInput(selected)"
      placeholder="Seleccione la fecha"
      dateFormat="DD-MM-YYYY"
      >
      </mbsc-datepicker>
    }

  </ion-col>
</ion-row>