<ion-row>
  <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">

    @if(isPresentRange) {
      <mbsc-datepicker
        [controls]="['calendar']"
        select="preset-range"
        rangeHighlight="true"
        [showRangeLabels]="true"
        rangeStartLabel="Outbound"
        placeholder="Fecha Semana"
        [selectSize]="7"
        placeholder="{{placeholder}}"
        [firstSelectDay]="1"
        dateFormat="DD-MM-YYYY"
        [(ngModel)]="selected"
        [locale]="localeEs"
        (change)="onChangeInput(selected)"
        rangeEndLabel="Return">
      </mbsc-datepicker>
    }
    @if(isRange) {
      <mbsc-datepicker
      select="range"
      rangeHighlight="true"
      [showRangeLabels]="true"
      rangeStartLabel="Outbound"
      placeholder="{{placeholder}}"
      dateFormat="DD-MM-YYYY"
      [(ngModel)]="selected"
      (change)="onChangeInput(selected)"
      [locale]="localeEs"
      rangeEndLabel="Return">
      </mbsc-datepicker>
    }

    @if(isPeriodo) {
 
      <mat-form-field  appearance="outline">
        <mat-label>Periodo</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="date">
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp
                        startView="multi-year"
                        (monthSelected)="setMonthAndYear($event, dp)"
                        panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
    }

    @if(isMultiSelect) {
      <mbsc-datepicker
      [controls]="['calendar']"
      theme="windows"
      themeVariant="dark"
      [selectMultiple]="true"
      [selectMax]="maxSelect"
      [(ngModel)]="selected"
      (change)="onChangeInput(selected)"
      placeholder="{{placeholder}}"
      dateFormat="DD-MM-YYYY"
      [locale]="localeEs"
      >
    </mbsc-datepicker>
    }

    @if(isDefault) {
      <mbsc-datepicker
      [controls]="['calendar']"
      [(ngModel)]="selected"
      (change)="onChangeInput(selected)"
      placeholder="{{placeholder}}"
      dateFormat="DD-MM-YYYY"
      [locale]="localeEs"
      >
      </mbsc-datepicker>
    }

    @if(isTime){
      <mbsc-datepicker
      theme="windows"
      [controls]="['time']"
      placeholder="{{placeholder}}"
      (onClose)="onChangeInput($event)"
      [locale]="localeEs"
      >
     </mbsc-datepicker>
    }

  </ion-col>
</ion-row>