<div class="menu-profile">
  @for (noti of dataNotification; track noti) {
  @if(!noti.IS_READ){
  <div class="profile-section" (click)="onReadNotification(noti.ID_USN)">
    <div
      [ngClass]="[noti.TIPO == 'info'? 'estado-color msj-info': noti.TIPO == 'error'? 'estado-color msj-error':  noti.TIPO == 'warning'? 'estado-color msj-error' : noti.TIPO == 'success'? 'estado-color msj-success': 'estado-color']">
      <span></span>
    </div>
    <div class="content-ico">
      <ion-avatar slot="start">
        <img class="img-profile" alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </div>
    <div class="profile-datos">
      <div class="title-user">{{noti.TITULO}}</div>
      <div class="subtitle-user">{{noti.MENSAJE}}</div>
    </div>
  </div>
  }
  }

  <div class="logout-section">
    @if(dataNotification.length){
    <div class="button-menu" (click)="OnClickedMenu()">
      <div class="text-menu">Todas las notificaciones</div>
    </div>
    }@else{
    <div >
      <div class="text-menu">No hay notificaciones</div>
    </div>
    }
  </div>



  <!--<span *ngFor="let menu of menuList" (click)="OnClickedMenu(menu.fn)">
    {{menu.name}}
  </span>-->

</div>