.container-form {
    //  border-right: 1px solid #d7d7d7 !important;
    //  padding-right: 14px !important;
}

#datos-personales,
#experiencia-laboral,
#accordionExample,
#formacion-academica,
#datos-salud {
    ion-col {
        padding: 0px !important;
    }
}

.container-title {
    height: 100% !important;
    align-items: center !important;
    display: inline-flex !important;
    padding-left: 5px !important;
}

.title-form {
    width: 100%;
}

.btn-form {
    display: inline-flex !important;
    align-items: end !important;
    width: 100% !important;
    justify-content: end !important;
    padding: 5px !important;

    button {
        width: 57px !important;
    }
}

#datos-salud .btn-form {
    button {
        width: 118px !important;
    }
}

.card-body {
    span {
        font-size: 14px;
        padding-right: 5px;
    }

    .title {
        font-weight: 600 !important;
        color: #717171 !important;
    }

    .container-title {
        padding: 0px !important;
    }

    .motivo-footer {
        span {
            display: block !important;
        }
    }

}

.container-datos {
    max-height: 718px !important;

    ion-avatar {
        margin-right: 15px !important;
    }
}

.card-info {
    border: 1px solid #d9d9d9 !important;
    border-radius: 4px !important;
    padding: 3px 10px !important;
    margin-top: 10px !important;
}

.card-info-title {
    display: block !important;
    font-size: 12px !important;
    padding-top: 4px !important;
}

.card-info-value {
    font-size: 12px !important;
}

.scroll-on {
    overflow: auto !important;
}

.scroll-on::-webkit-scrollbar {
    -webkit-appearance: none !important;
}

.scroll-on::-webkit-scrollbar:vertical {
    width: 10px !important;
}

.scroll-on::-webkit-scrollbar-button:increment,
.scroll-on::-webkit-scrollbar-button {
    display: none !important;
}

.scroll-on::-webkit-scrollbar:horizontal {
    height: 10px !important;
}

.scroll-on::-webkit-scrollbar-thumb {
    background-color: #79797980 !important;
    border-radius: 20px !important;
    border: 2px solid #ffff !important;
}

.scroll-on::-webkit-scrollbar-track {
    border-radius: 10px;
}

nav {

    // margin-top: 22px !important;
    // padding-bottom: 28px !important;
    ul {
        list-style-type: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    li {
        display: inline !important;
        color: var(--color-primary);
        cursor: pointer !important;
    }

    i {
        margin: 0px 7px !important;
        color: var(--color-medium) !important;
        font-size: 16px !important;
        position: relative !important;
        top: 2px !important;
    }
}

.active {
    color: #2525bb !important;
}

.accordion-body {
    .accordion-fecha {
        display: flex;
        justify-content: end;
        font-size: 14px !important;
    }
}

.container-icon-success {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 82px;
    color: green;
    border-color: green;
}

.container-title-success {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    color: #585858;
}

.container-subtitle-success {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #585858;
}