<ion-row>
  <ion-col sizeXs="12" sizeSm="12" sizeMd="7" sizeLg="7">
    <div class="container-form">
      <div class="nav-step">
        <mt-nav-step></mt-nav-step>
      </div>
      <section id="datos-personales">
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <div class="container-title">
              <label>Datos Personales</label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <mt-input
            label="Nombre Completo"
            placeholder="Ingrese su nombre completo"
            type="text"
          ></mt-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
            <mt-input
            label="Fecha Nacimiento"
            placeholder="Ingrese su fecha de nacimiento"
            type="text"
          ></mt-input>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
            <mt-input
            label="Pais Nacimiento"
            placeholder="Ingrese su pais de nacimiento"
            type="text"
          ></mt-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
            <mt-input
            label="Tipo de documento"
            placeholder="Ingrese su tipo de documento"
            type="text"
          ></mt-input>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
            <mt-input
            label="Numero de documento"
            placeholder="Ingrese su numero de documento"
            type="text"
          ></mt-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
            <mt-input
            label="Sexo"
            placeholder="Ingrese su sexo"
            type="text"
          ></mt-input>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
            <mt-input
            label="Estado Civil"
            placeholder="Ingrese su estado civil"
            type="text"
          ></mt-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
            <mt-input
            label="Distrito"
            placeholder="Ingrese su distrito"
            type="text"
          ></mt-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <mt-input
            label="Direccion"
            placeholder="Ingrese su direccion"
            type="text"
          ></mt-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <mt-input
            label="Referencia"
            placeholder="Ingrese referencia de direccion"
            type="text"
          ></mt-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <mt-input
            label="Correo electronico"
            placeholder="Ingrese su coreo electronico"
            type="text"
          ></mt-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
            <mt-input
            label="Regimen Pensionario"
            placeholder="Ingrese su regimen Pensionario"
            type="text"
          ></mt-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <mt-input
            label="Nombre contacto emergia"
            placeholder="Ingrese nombre de contacto"
            type="text"
          ></mt-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <mt-input
            label="Numero contacto emergia"
            placeholder="Ingrese Numero de contacto"
            type="text"
          ></mt-input>
          </ion-col>
        </ion-row>
      </section>
      <section id="section-button">
        <ion-row>
          <ion-col>
            <button type="button" class="btn btn-primary">Siguiente</button>
          </ion-col>
        </ion-row>
      </section>
    </div>
  </ion-col>
  <ion-col sizeXs="12" sizeSm="12" sizeMd="5" sizeLg="5" class="scroll-on">
    <div class="container-datos">
      <div class="head-content-datos">
        <ion-item>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-row>
            <ion-col class="no-padding" sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
              <span>Andre Canales Vasquez</span>
            </ion-col>
            <ion-col class="no-padding" sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
              <span>30 años</span>
              <span class="align-right">23/05/1992</span>
            </ion-col>
          </ion-row>
        </ion-item>
      </div>
      <div class="body-content-datos">
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
            <div class="card-info">
              <label class="card-info-title">Tipo Documento</label>
              <label class="card-info-value">DNI</label>
            </div>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
            <div class="card-info">
              <label class="card-info-title">Numero Documento</label>
              <label class="card-info-value">11111111</label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
            <div class="card-info">
              <label class="card-info-title">Sexo</label>
              <label class="card-info-value">DNI</label>
            </div>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
            <div class="card-info">
              <label class="card-info-title">Estado Civil</label>
              <label class="card-info-value">11111111</label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <div class="card-info">
              <label class="card-info-title">Distrito</label>
              <label class="card-info-value">DNI</label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <div class="card-info">
              <label class="card-info-title">Direccion</label>
              <label class="card-info-value">DNI</label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <div class="card-info">
              <label class="card-info-title">Referencia</label>
              <label class="card-info-value">DNI</label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <div class="card-info">
              <label class="card-info-title">Correo electronico</label>
              <label class="card-info-value">DNI</label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <div class="card-info">
              <label class="card-info-title">Regimen pensionario</label>
              <label class="card-info-value">DNI</label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
            <div class="card-info">
              <label class="card-info-title">Nombre contacto emergencia</label>
              <label class="card-info-value">DNI</label>
            </div>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
            <div class="card-info">
              <label class="card-info-title">Numero contacto emergencia</label>
              <label class="card-info-value">11111111</label>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-col>
</ion-row>