<ion-row>
  <ion-col sizeXs="12" sizeSm="12" sizeMd="7" sizeLg="7">
    <div class="container-form">
      <div class="nav-step">
        <mt-nav-step></mt-nav-step>
      </div>
      <section id="datos-personales" *ngIf="stepSelected == 1">
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <div class="container-title">
              <label>Datos Personales</label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <mt-input
            label="Nombre Completo"
            placeholder="Ingrese su nombre completo"
            type="text"
          ></mt-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
            <mt-input
            label="Fecha Nacimiento"
            placeholder="Ingrese su fecha de nacimiento"
            type="text"
          ></mt-input>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
            <mt-select
            placeHolder="Pais de nacimiento"
            [optionList]="optionListPais"
            ></mt-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
            <mt-select
            placeHolder="Tipo de documento"
            [optionList]="optionListPais"
            ></mt-select>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
            <mt-input
            label="Numero de documento"
            placeholder="Ingrese su numero de documento"
            type="text"
          ></mt-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
            <mt-select
            placeHolder="Sexo"
            [optionList]="optionListPais"
            ></mt-select>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
            <mt-select
            placeHolder="Estado civil"
            [optionList]="optionListPais"
            ></mt-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
            <mt-select
            placeHolder="Distrito"
            [optionList]="optionListPais"
            ></mt-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <mt-input
            label="Direccion"
            placeholder="Ingrese su direccion"
            type="text"
          ></mt-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <mt-input
            label="Referencia"
            placeholder="Ingrese referencia de direccion"
            type="text"
          ></mt-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <mt-input
            label="Correo electronico"
            placeholder="Ingrese su coreo electronico"
            type="text"
          ></mt-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
            <mt-select
            placeHolder="Regimen pensionario"
            [optionList]="optionListPais"
            ></mt-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <mt-input
            label="Nombre contacto emergia"
            placeholder="Ingrese nombre de contacto"
            type="text"
          ></mt-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <mt-input
            label="Numero contacto emergia"
            placeholder="Ingrese Numero de contacto"
            type="text"
          ></mt-input>
          </ion-col>
        </ion-row>
      </section>

      <section id="experiencia-laboral" *ngIf="stepSelected == 2">
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <div class="container-title">
              <div class="title-form">
                <label>Experiencia Laboral</label>
              </div>
              <div class="btn-form">
                <button type="button" class="btn btn-primary btn-sm">Siguiente</button>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <mt-input
            id="exlabEmpresa"
            label="Empresa"
            placeholder="Ingrese nombre de la Empresa"
            value="{{ exlabEmpresa }}"
            (afterChange)="onChangeInput($event)"
            type="text"
            ></mt-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <mt-input
            id="exlabPuesto"
            label="Puesto"
            placeholder="Ingrese puesto laboral"
            value="{{ exlabPuesto }}"
            (afterChange)="onChangeInput($event)"
            type="text"
            ></mt-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
            <mt-input
            id="exlabFecInicio"
            label="Desde"
            placeholder="Fecha de inicio"
            value="{{ exlabFecInicio }}"
            (afterChange)="onChangeInput($event)"
            type="text"
            ></mt-input>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
            <mt-input
            id="exlabCulmino"
            label="Hasta"
            placeholder="Fecha de Termino"
            value="{{ exlabCulmino }}"
            (afterChange)="onChangeInput($event)"
            type="text"
            ></mt-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <mt-input
            id="exlabMotivo"
            label="Motivo"
            placeholder="Ingrese el motivo del cese"
            value="{{ exlabMotivo }}"
            (afterChange)="onChangeInput($event)"
            type="text"
            ></mt-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Sin experiencia laboral
              </label>
            </div>
          </ion-col>
        </ion-row>
      </section>

      <section id="section-button">
        <ion-row>
          <ion-col>
            <button type="button" (click)="onAddExpLab()" class="btn btn-primary btn-sm">Agregar Experiencia</button>
          </ion-col>
        </ion-row>
      </section>
    </div>
  </ion-col>
  <ion-col sizeXs="12" sizeSm="12" sizeMd="5" sizeLg="5" class="scroll-on">
    <div class="container-datos">
      <div class="head-content-datos">
        <ion-item>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-row>
            <ion-col class="no-padding" sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
              <span>Andre Canales Vasquez</span>
            </ion-col>
            <ion-col class="no-padding" sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
              <span>30 años</span>
              <span class="align-right">23/05/1992</span>
            </ion-col>
          </ion-row>
        </ion-item>
      </div>
      <div class="body-content-datos">
        <ion-row *ngFor="let card of expLaboralList">
          <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
            <div class="card" style="width: 100%;">
              <div class="card-header">
                {{card.empresa}}
              </div>
              <div class="card-body">
                <div class="container-title">
                  <div class="title-form">
                    <span class="title">Desde:</span>
                    <span>2020-01-01</span>
                  </div>
                  <div class="btn-form">
                    <span class="title">Hasta:</span>
                    <span>2020-01-01</span>
                  </div>
                </div>
                <div>
                  <span>Puesto: IT</span>
                </div>
                <div class="motivo-footer">
                  <span class="title">Motivo de Cese:</span>
                  <span>adasdasd</span>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-col>
</ion-row>