<ion-progress-bar class="{{ isShowLoading ? 'show' : 'hide' }}" type="indeterminate" style="z-index: 1000;">
</ion-progress-bar>

<ion-app [class]="[isMobil ? 'renderMobil':'']">

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>METAS PERU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="example-menu" *ngFor="let menu of menuUser" cdkMenu>
        <button class="example-menu-item" (click)="onNavigatorRoute(menu.ruta)" *ngIf="menu.ISVISIBLE"
          cdkMenuItem>{{menu.nombre_menu}}</button>
      </div>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header *ngIf="renderNavBar" [class]="[isMobil ? 'renderMobil':'']">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="headerTitle">METAS PERU</ion-title>
        <div slot="end" class="content-profile">
          <span style="display: flex;justify-content: center;align-items: center;cursor: pointer;font-size: 20px;"
            (click)="isVisibleNotificacion = true;clicDentroDelDiv = true">
            @if(dataNotificaciones.length){
            <i matBadge="1" matBadgeSize="small" class="fa fa-bell-o" aria-hidden="true"></i>
            }@else{
            <i matBadgeSize="small" class="fa fa-bell-o" aria-hidden="true"></i>
            }

          </span>
          <div class="profile-logo">
            <ion-avatar slot="start">
              <img alt="Silhouette of a person's head" src="{{linkImgPerfil}}" />
            </ion-avatar>
          </div>
          <div class="profile-ico" (click)="isVisiblePopover = true;clicDentroDelDiv = true" data-bs-dismiss="offcanvas"
            aria-label="Close">
            <span><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
          </div>
        </div>
      </ion-toolbar>



      <mt-popover (click)="onDivClick()" *ngIf="isVisiblePopover" [dataProfile]="profileUser" [imgProfile]="linkImgPerfil"
        (onClickedCallback)="onLogout()"></mt-popover>

      <mt-popover-notificacion (click)="onDivClick()" *ngIf="isVisibleNotificacion" [dataNotification]="dataNotificaciones"
        (onClickedCallback)="onLogout()" (onReadCallBack)="onReadNotification($event)"></mt-popover-notificacion>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>