<ion-progress-bar 
  class="{{ isShowLoading ? 'show' : 'hide' }}" 
  type="indeterminate" 
  style="z-index: 1000;">
</ion-progress-bar>

<ion-app [class]="[isMobil ? 'renderMobil':'']">
  <mt-notification></mt-notification>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>METAS PERU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <section *ngFor="let menu of menuUser" class="content-item">
        <div (click)="menu.ISVISIBLE = !menu.ISVISIBLE" *ngIf="menu.SUBMENU.length" class="item-menu">
          <span>{{menu.NAME_MENU}}</span>
        </div>
        <div (click)="onNavigatorRoute(menu.RUTE_PAGE)" *ngIf="!menu.SUBMENU.length"  class="item-menu">
          <span>{{menu.NAME_MENU}}</span>
        </div>
        <section *ngIf="menu.ISVISIBLE" class="all-content-submenu">       
          <section *ngFor="let submenu of menu.SUBMENU" class="content-submenu">   
            <div class="line-vertical"></div>
            <div class="line-horizontal"></div>
            <div (click)="onNavigatorRoute(submenu.RUTE_PAGE)" class="submenu-item" >
              <span>{{submenu.NAME_MENU}}</span>
            </div>
          </section>
        </section>

      </section>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header *ngIf="renderNavBar" [class]="[isMobil ? 'renderMobil':'']">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="headerTitle">METAS PERU</ion-title>
        <div slot="end" class="content-profile">
          <div class="profile-name" *ngFor="let profile of profileUser">
            <span class="name">{{profile.name}}</span>
            <span class="nivel">{{profile.nivel}}</span>
          </div>
          <div class="profile-logo">
            <ion-avatar slot="start">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
          </div>
          <div class="profile-ico" (click)="isVisiblePopover = !isVisiblePopover">
            <span><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
          </div>
        </div>
      </ion-toolbar>
      <mt-popover *ngIf="isVisiblePopover"
        [menuList]="menuList"
        (onClickedCallback)="onFunctionMenu($event)"
      ></mt-popover>
    </ion-header>
    
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>