<ion-content>
    <div id="content" class="full-center">
        <div class="card-content">
            <ion-row>
                <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
                  <button style="margin-right: 5px;" type="button" class="btn btn-primary btn-sm"(click)="onDirFile()">
                    <i style="font-size: 19px;" class="fa fa-home" aria-hidden="true"></i>
                  </button>
                    <div class="btn-group" >
                        <button type="button" style="margin-right: 5px;" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Nuevo
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" (click)="openDialog('createDirectory')">
                                <i style="font-size: 19px;color:#ffa700" class="fa fa-folder" aria-hidden="true"></i>
                                 Crear carperta
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button (click)="onDeleteFile()" style="margin-right: 5px;" type="button" class="btn btn-primary btn-sm" >
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                    <button (click)="onDownload()" style="margin-right: 5px;" type="button" class="btn btn-primary btn-sm" >
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                </ion-col>
                <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
                  @for(pht of arPathSelect;track pht; let idx = $index, e = $even){
                    <label *ngIf="idx >=1" style="color: rgb(165 165 165);font-size: 20px;font-weight: 500; margin-right: 5px;margin-left: 5px;">></label>
                    <span class="pathView">{{pht}}</span>

                  }                  
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                          <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                          [checked]="selection.hasValue() && isAllSelected()"
                                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                                          [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                          </th>
                          <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                          (change)="$event ? selection.toggle(row) : null"
                                          [checked]="selection.isSelected(row)"
                                          [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td mat-cell *matCellDef="let element"> 
                              <div style="display: flex;align-items: center;">
                                  <i style="font-size: 19px;color:#ffa700" *ngIf="element.type == 'directory'" class="fa fa-folder" aria-hidden="true"></i>
                                  <img *ngIf="element.type != 'directory' && (element.type == 'xls' || element.type == 'csv' || element.type == 'xlsx')" src="../../../assets/icon/excel.png" width="16.55" height="19"> 
                                  <img *ngIf="element.type != 'directory' && element.type == 'pdf'" src="../../../assets/icon/pdf.png" width="16.55" height="19"> 
                                  <img *ngIf="element.type != 'directory' && element.type == 'txt'" src="../../../assets/icon/txt.png" width="16.55" height="19">
                                  <img *ngIf="element.type != 'directory' && element.type == 'docx'" src="../../../assets/icon/word.png" width="16.55" height="19">
                                  <img *ngIf="element.type != 'directory' && (element.type == 'img' || element.type == 'png' || element.type == 'jpeg')" src="../../../assets/icon/img.png" width="16.55" height="19">
                                  <img *ngIf="element.type != 'directory' && element.type == 'exe' " src="../../../assets/icon/exe.png" width="16.55" height="19">   
                                  <span style="font-size: 13px;margin-left: 10px;">{{element.name}}</span>
                              </div>
                            </td>
                          </ng-container>
                        
                       
                          <ng-container matColumnDef="modificacion">
                            <th mat-header-cell *matHeaderCellDef> Ultima modificacion </th>
                            <td mat-cell *matCellDef="let element" > - </td>
                          </ng-container>
                        
                         
                          <ng-container matColumnDef="tamaño">
                            <th mat-header-cell *matHeaderCellDef> Tamaño </th>
                            <td mat-cell *matCellDef="let element" > 
                                <span *ngIf="element.type == 'directory'">-</span>
                                <span *ngIf="element.type != 'directory'">{{element.size}}</span>
                            </td>
                          </ng-container>
                        
                         
                          <ng-container matColumnDef="accion">
                            <th mat-header-cell *matHeaderCellDef> 
                              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                                  <mat-icon>more_vert</mat-icon>
                              </button>
                            </th>
                            <td mat-cell *matCellDef="let element"> 
                                <mat-spinner *ngIf="element.process"></mat-spinner>
                            </td>
                          </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr id="myButton" mat-row *matRowDef="let row; columns: displayedColumns;"
                            (click)="selection.toggle(row)" (dblclick)="oneDirectory(row,'')">
                        </tr>
                      </table>               
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div class="drag-drop-area" [class.uploading]="uploading" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
                        <p>Drag and drop to automatic upload</p>
                    </div>                      
                    <div class="images"></div>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>