<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'over'" position="end">
    <button type="button" class="btn btn-light visible-onBack" (click)="drawer.toggle()" *ngIf="isViewPapeleta">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </button>

    <mt-papeleta-preview [codigoPap]="codigoPap" *ngIf="codigoPap.length"></mt-papeleta-preview>
  </mat-drawer>
  <mat-drawer-content>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourcePap">

        <ng-container matColumnDef="Codigo_Papeleta">
          <th mat-header-cell *matHeaderCellDef>
            <div class="head-table">
              Codigo Papeleta
              <div class="filter-content" slot="end">
                <div class="btn-filter" [matMenuTriggerFor]="filterCodigo">
                  @if(isFilterCP){
                  <div matBadge="1" matBadgeSize="small" style="width: 2px;"></div>
                  }
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <mat-menu #filterCodigo="matMenu">
              <mt-input id="filterCodigo" label="Filtro codigo" placeholder="Codigo papeleta" type="text"
                value="{{ filterCodigov }}" (keyup)="applyFilterCodigo($event)"></mt-input>
            </mat-menu>
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.codigo_papeleta}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Tienda">
          <th mat-header-cell *matHeaderCellDef>
            <div class="head-table">
              Tienda
              <div class="filter-content" slot="end">
                <div class="btn-filter" [matMenuTriggerFor]="filterTienda">
                  @if(isFilterT){
                  <div matBadge="1" matBadgeSize="small" style="width: 2px;"></div>
                  }
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <mat-menu #filterTienda="matMenu">
              <mt-input id="filterTienda" label="Filtro tienda" placeholder="Nombre tienda" type="text"
                value="{{ filterTiendaUnid }}" (keyup)="applyFilterTienda($event)"></mt-input>
            </mat-menu>
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.uns}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha Creacion </th>
          <td mat-cell *matCellDef="let element">
            <span>{{element.fecha_creacion}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="Fecha_comp">
          <th mat-header-cell *matHeaderCellDef> Fecha Compensacion </th>
          <td mat-cell *matCellDef="let element">
            <span>{{element.fecha_desde}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="Tipo_papeleta">
          <th mat-header-cell *matHeaderCellDef>
            <div class="head-table">
              Tipo papeleta
              <div class="filter-content" slot="end">
                <div class="btn-filter" [matMenuTriggerFor]="filterTipoPap">
                  @if(isFilterTP){
                  <div matBadge="1" matBadgeSize="small" style="width: 2px;"></div>
                  }
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <mat-menu #filterTipoPap="matMenu">
              <mt-input id="filterPapeleta" label="Filtro papeleta" placeholder="Tipo papeleta" type="text"
                value="{{ filterTipoPapv }}" (keyup)="applyFilterTipoPap($event)"></mt-input>
            </mat-menu>
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.tipo}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Nombre_Completo">
          <th mat-header-cell *matHeaderCellDef>
            <div class="head-table">
              Nombre Completo
              <div class="filter-content" slot="end">
                <div class="btn-filter" [matMenuTriggerFor]="filterNombreCompleto">
                  @if(isFilterNM){
                  <div matBadge="1" matBadgeSize="small" style="width: 2px;"></div>
                  }
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <mat-menu #filterNombreCompleto="matMenu">
              <mt-input id="filterNombre" label="Filtro Nombre" placeholder="Nombre completo" type="text"
                value="{{ filterNombreCompletov }}" (keyup)="applyFilterNombreCompleto($event)"></mt-input>
            </mat-menu>
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.nombre_completo}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Accion">
          <th mat-header-cell *matHeaderCellDef> Accion </th>
          <td mat-cell *matCellDef="let element">
            <button (click)="onViewPapeleta(element)" (click)="drawer.toggle()" style="margin-left: 8px;"
              matTooltip="ver papeleta" id="searchProducto" type="button" class="btn btn-primary btn-sm" type="button">
              <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsPap"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsPap;"></tr>
      </table>
      <mat-paginator #MatPaginator2 [pageSizeOptions]="[30,40,50]" showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </mat-drawer-content>