.head-table {
    display: flex;
    justify-content: center;
    align-items: center;

    .filter-content {
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .btn-filter {
        cursor: pointer;
        border-radius: 4px;
        padding-right: 3px;
        padding-left: 3px;
    }

    .btn-filter:hover {
        background: #e7e7e7 !important;
    }

}

.mat-drawer-over {
    width: 50% !important;
    border-radius: 0px !important;
}

.mat-drawer-container {
    min-height: 600px;
}

.visible-onBack {
    display: none !important;
}

@media only screen and (max-width: 600px) {
    .mat-drawer-over {
        width: 100% !important;
    }

    .visible-onBack {
        display: block !important;
        margin-left: 10px !important;
        margin-top: 10px !important;
    }


}