<ion-content>
  <div id="content" class="full-center">
    <div class="card-content">
      <ion-row>
        <ion-col sizeXs="5" sizeSm="5" sizeMd="5" sizeLg="5">
          <div class="content-button">
            <button (click)="onVerify()" type="button" class="btn btn-primary btn-sm"><i class="fa fa-refresh" aria-hidden="true"></i> Comprobantes</button>
            <button (click)="onTransacciones()" type="button" class="btn btn-primary btn-sm"><i class="fa fa-refresh" aria-hidden="true"></i> Transacciones</button>
            <button (click)="onClientesNull()" type="button" class="btn btn-primary btn-sm"><i class="fa fa-refresh" aria-hidden="true"></i> Clientes</button>
          </div>
        </ion-col>
        <ion-col sizeXs="7" sizeSm="7" sizeMd="7" sizeLg="7" class="aling-right content-btn-fact">
          <div class="content-status-server" *ngFor="let status of statusServerList">
            <div class="status-conect">
              <div [ngClass]="[isConnectServer == 'true' ? 'blob blue': 'blob red']"></div>
            </div>
            <div class="status-stadistic">
              <div>
                 <p>{{status.hostname}}</p>
                 <p class="progress-status"><span>cpu: {{status.cpu | number:'1.0-0'}} %</span><progress id="cpu" max="100" value="{{status.cpu}}">{{status.cpu | number:'1.0-0'}}</progress></p>
                 <p class="progress-status"><span>ram: {{status.xram | number:'1.0-0'}} %</span><progress id="ram" max="100" value="{{status.xram}}">{{status.xram | number:'1.0-0'}}</progress></p>
               </div>
             </div>
             <div class="active-hardward">
              <p>{{status.ip}}</p>
              <div class="usb-status">
                <span>usb</span>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" *ngIf="status.usb == 'true'" checked>
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" *ngIf="status.usb == 'false'">
                </div>
              </div>
             </div>
          </div>
          <!--<button  (click)="isVisibleStatus = !isVisibleStatus" type="button" class="btn btn-outline-secondary btn-sm facturacion-btn">
            <i class="fa fa-server" aria-hidden="true"></i>
            <span>Facturacion</span>
            <div [ngClass]="[isConnectServer == 'true' ? 'blob blue': 'blob red']"></div>
          </button>
          <section class="popup-server" *ngIf="isVisibleStatus && isConnectServer == 'true'">
            <div *ngFor="let status of statusServerList">
              <ion-row>
                <ion-col sizeXs="4" sizeSm="4" sizeMd="4" sizeLg="4" class="aling-left">
                  <label class="status-title">hostname:</label>
                </ion-col>
                <ion-col sizeXs="8" sizeSm="8" sizeMd="8" sizeLg="8">
                  <label class="status-title">{{status.hostname}}</label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col sizeXs="2" sizeSm="2" sizeMd="2" sizeLg="2" class="aling-left">
                  <label class="status-title">ip:</label>
                </ion-col>
                <ion-col sizeXs="10" sizeSm="10" sizeMd="10" sizeLg="10">
                  <label class="status-title">{{status.ip}}</label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col sizeXs="2" sizeSm="2" sizeMd="2" sizeLg="2" class="aling-left">
                  <label class="status-title">cpu:</label>
                </ion-col>
                <ion-col sizeXs="10" sizeSm="10" sizeMd="10" sizeLg="10">
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{'width': status.cpu + '%'}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{status.cpu}} %</div>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col sizeXs="2" sizeSm="2" sizeMd="2" sizeLg="2" class="aling-left">
                  <label class="status-title">ram:</label>
                </ion-col>
                <ion-col sizeXs="10" sizeSm="10" sizeMd="10" sizeLg="10">
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{'width': status.xram + '%'}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{status.xram}} %</div>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col sizeXs="2" sizeSm="2" sizeMd="2" sizeLg="2" class="aling-left">
                  <label class="status-title">usb:</label>
                </ion-col>
                <ion-col sizeXs="10" sizeSm="10" sizeMd="10" sizeLg="10">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" *ngIf="status.usb == 'true'" checked>
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" *ngIf="status.usb == 'false'">
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </section>

          <section class="popup-server" *ngIf="isVisibleStatus && isConnectServer == 'false'">
            <ion-row>
              <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" class="full-center">
                <span class="full-center">
                  <i class="fa fa-ban" aria-hidden="true"></i>
                </span>
              </ion-col>
              <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" class="full-center">
                <span class="status-title">
                  Desconectado
                </span>
              </ion-col>
            </ion-row>
          </section>-->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" class="no-padding-lateral">
          <ion-row>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" class="only-desktop">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="columHead" *ngFor="let columHead of headList;let i = index">{{columHead}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let columBody of bodyList;let index = index">
                    <td class="columBody">{{index + 1}}</td>
                    <td class="columBody">{{columBody.codigo}}</td>
                    <td class="columBody">{{columBody.Tienda}}</td>
                    <td class="columBody">
                      <span class="badge bg-success-comprobantes" *ngIf="columBody.isVerification == 1">ready</span>
                      <span class="badge bg-danger" *ngIf="columBody.isVerification == 0">not ready</span>
                    </td>
                    <td class="columBody">
                      <span class="badge bg-success-comprobantes"
                        *ngIf="columBody.cant_comprobantes == 0">{{columBody.cant_comprobantes}}</span>
                      <span class="badge bg-danger"
                        *ngIf="columBody.cant_comprobantes != 0">{{columBody.cant_comprobantes}}</span>
                    </td>
                    <td class="columBody">
                      <span class="badge bg-success-comprobantes"
                      *ngIf="columBody.transacciones == 0">0</span>
                      <span class="badge bg-danger"
                      *ngIf="columBody.transacciones != 0">{{columBody.transacciones}}</span>
                    </td>
                    <td class="columBody">
                      <span class="badge bg-success-comprobantes"
                      *ngIf="columBody.clientes_null == 0">0</span>
                      <span class="badge bg-danger"
                      *ngIf="columBody.clientes_null != 0">{{columBody.clientes_null}}</span>
                    </td>
                    <td class="columBody">
                      <div [ngClass]="[columBody.online == 1 ? 'blob blue': 'blob red']"></div>
                    </td>
                    <td class="columBody">
                      <div [ngClass]="[columBody.conexICG == 1 ? 'blob blue': 'blob red']"></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </ion-col>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" class="no-padding-lateral only-mobil">
              <ion-row *ngFor="let columBody of bodyList">
                <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" class="no-padding-lateral">
                  <ion-item class="item-mobile">
                    <ion-avatar slot="start" class="full-center">
                      {{columBody.codigo}}
                      <span
                        class="position-absolute top-0 start-100 translate-middle p-2 bg-success border border-light rounded-circle status"
                        *ngIf="columBody.online == 1">
                        <span class="visually-hidden">New alerts</span>
                      </span>
                      <span
                        class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle status"
                        *ngIf="columBody.online == 0">
                        <span class="visually-hidden">New alerts</span>
                      </span>
                    </ion-avatar>
                    <div class="body">
                      <div class="content-title">
                        <span class="title">{{columBody.Tienda}}</span>
                        <span class="status"><i class="fa fa-check-circle" aria-hidden="true"
                            *ngIf="columBody.isVerification == 1"></i></span>
                        <span class="status"><i class="fa fa-times" aria-hidden="true"
                            *ngIf="columBody.isVerification == 0"></i></span>
                      </div>
                    </div>
                    <div slot="end" class="estados">
                      <span class="badge rounded-pill bg-success"
                        *ngIf="columBody.cant_comprobantes == 0">{{columBody.cant_comprobantes}}</span>
                      <span class="badge rounded-pill bg-danger"
                        *ngIf="columBody.cant_comprobantes != 0">{{columBody.cant_comprobantes}}</span>
                    </div>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" class="no-padding-lateral">
          <ion-row class="scroll-y">
            <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
              <table class="table table-bordered table-sunat">
                <thead>
                  <tr>
                    <th class="columHead" *ngFor="let columHead of headListSunat;let i = index">{{columHead}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let columBody of bodyListSunat;let index = index">
                    <td class="columBody">{{index + 1}}</td>
                    <td class="columBody">{{columBody.cod_documento}}</td>
                    <td class="columBody">{{columBody.nro_correlativo}}</td>
                    <td class="columBody">{{columBody.nom_aquiriente}}</td>
                    <td class="columBody">{{columBody.nro_documento}}</td>
                    <td class="columBody">{{columBody.tipo_doc_adquiriente}}</td>
                    <td class="columBody">{{columBody.observacion}}</td>
                    <td class="columBody">{{columBody.estado_sunat}}</td>
                    <td class="columBody">{{columBody.estado_comprobante}}</td>
                    <td class="columBody">{{columBody.codigo_sunat}}</td>
                    <td class="columBody">{{columBody.fecha_emision}}</td>
                  </tr>
                </tbody>
              </table>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>


