<ion-content>
  <div id="content" class="full-center">
    <div class="card-content">
      <ion-row>
        <ion-col>
          <ion-col sizeXs="2" sizeSm="2" sizeMd="2" sizeLg="2">
            <button (click)="onVerify()" type="button" class="btn btn-outline-primary btn-sm"><i class="fa fa-refresh" aria-hidden="true"></i></button>
          </ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" class="no-padding-lateral">
          <ion-row>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" class="only-desktop">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="columHead" *ngFor="let columHead of headList;let i = index">{{columHead}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let columBody of bodyList">
                    <td class="columBody">{{columBody.codigo}}</td>
                    <td class="columBody">{{columBody.Tienda}}</td>
                    <td class="columBody">
                      <span class="badge bg-success" *ngIf="columBody.isVerification == 1">ready</span>
                      <span class="badge bg-danger" *ngIf="columBody.isVerification == 0">not ready</span>
                    </td>
                    <td class="columBody">
                      <span class="badge bg-success" *ngIf="columBody.cant_comprobantes == 0">{{columBody.cant_comprobantes}}</span>
                      <span class="badge bg-danger" *ngIf="columBody.cant_comprobantes != 0">{{columBody.cant_comprobantes}}</span>
                    </td>
                    <td class="columBody">
                      <span class="badge bg-success" *ngIf="columBody.online == 1">online</span>
                      <span class="badge bg-danger" *ngIf="columBody.online == 0">offline</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </ion-col>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" class="no-padding-lateral only-mobil">
              <ion-row *ngFor="let columBody of bodyList">
                <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" class="no-padding-lateral">
                  <ion-item class="item-mobile">
                    <ion-avatar slot="start" class="full-center">
                      {{columBody.codigo}}
                      <span class="position-absolute top-0 start-100 translate-middle p-2 bg-success border border-light rounded-circle status" *ngIf="columBody.online == 1">
                        <span class="visually-hidden">New alerts</span>
                      </span>
                      <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle status" *ngIf="columBody.online == 0">
                        <span class="visually-hidden">New alerts</span>
                      </span>
                    </ion-avatar>
                    <div class="body">
                      <div class="content-title">
                        <span class="title">{{columBody.Tienda}}</span>
                        <span class="status"><i class="fa fa-check-circle" aria-hidden="true" *ngIf="columBody.isVerification == 1"></i></span>
                        <span class="status"><i class="fa fa-times" aria-hidden="true" *ngIf="columBody.isVerification == 0"></i></span>
                      </div>
                    </div>
                    <div slot="end" class="estados">
                      <span class="badge rounded-pill bg-success" *ngIf="columBody.cant_comprobantes == 0">{{columBody.cant_comprobantes}}</span>
                      <span class="badge rounded-pill bg-danger" *ngIf="columBody.cant_comprobantes != 0">{{columBody.cant_comprobantes}}</span>
                    </div>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>