.table {
    thead {
        background-color: #FAFAFB !important;
    }

    .columHead,
    .columBody {
        font-size: 14px !important;
        font-weight: 500 !important;
        text-align: center !important;
    }
}

button .btn {
    width: 100% !important;
}

input {
    border: 1px solid #d9d9d9 !important;
    border-radius: 4px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: 14px !important;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
}

input:focus {
    border: 1px solid #40a9ff !important;
    outline: 0 !important;
    box-shadow: 0 0 0 2px #1890ff33 !important;
    border-radius: 3px !important;
}

input[readonly] {
    border: 0px !important;
}

input[readonly]:focus {
    border: 0px !important;
    box-shadow: none !important;
}

th:last-child {
    width: 100px !important;
}

.editButton {
    color: #065bd7 !important;
}

.checkButton {
    color: #0abb0a !important;
}

.cancelButton,
.trashButton {
    color: #f90d0d !important;
}

ion-avatar {
    position: relative !important;
    background: #686868 !important;
    color: #ffff !important;

    .status {
        top: 4px !important;
        left: 38px !important;
        padding: 5px !important;
    }
}

ion-item {
    border: 1px solid #d9d9d9 !important;
    border-radius: 4px !important;
    background-color: #FFFF !important;
    --border-color: #fff !important;
    --border-width: 2px !important;
    --detail-icon-color: white !important;
    --detail-icon-opacity: 1 !important;
    --detail-icon-font-size: 20px !important;

    span {
        margin-top: 2px !important;
        display: block !important;
    }

    .body {
        span {
            font-size: 12px !important;
        }

        .title {
            color: #242424 !important;
            font-weight: 600 !important;
        }

        .sub-title {
            color: gray !important;
        }
    }

    .estados {
        span {
            text-align: end !important;
        }
    }

}

.fa-toggle-on {
    color: green !important;
}

.fa-toggle-on.off {
    transform: rotate(180deg);
    color: #d3102a !important;
}

.fa-check-circle {
    color: green !important;
}

.fa-times {
    color: #d3102a !important;
}

.content-title {
    span {
        display: inline-block !important;
    }

    .status {
        margin-left: 5px !important;
    }
}

.content-subtitle {
    span {
        display: inline-block !important;
    }
}