button .btn {
    width: 100% !important;
}

input {
    border: 1px solid #d9d9d9 !important;
    border-radius: 4px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: 14px !important;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
}

input:focus {
    border: 1px solid #40a9ff !important;
    outline: 0 !important;
    box-shadow: 0 0 0 2px #1890ff33 !important;
    border-radius: 3px !important;
}

input[readonly] {
    border: 0px !important;
}

input[readonly]:focus {
    border: 0px !important;
    box-shadow: none !important;
}

th:last-child {
    width: 100px !important;
}

.editButton {
    color: #065bd7 !important;
}

.checkButton {
    color: #0abb0a !important;
}

.cancelButton,
.trashButton {
    color: #f90d0d !important;
}

ion-avatar {
    position: relative !important;
    background: #686868 !important;
    color: #ffff !important;

    .status {
        top: 4px !important;
        left: 38px !important;
        padding: 5px !important;
    }
}

ion-item {
    border: 1px solid #d9d9d9 !important;
    border-radius: 4px !important;
    --background: #FFFF !important;
    --border-color: #fff !important;
    --border-width: 2px !important;
    --detail-icon-color: white !important;
    --detail-icon-opacity: 1 !important;
    --detail-icon-font-size: 20px !important;

    span {
        margin-top: 2px !important;
        display: block !important;
    }

    .body {
        span {
            font-size: 12px !important;
        }

        .title {
            color: #242424 !important;
            font-weight: 600 !important;
        }

        .sub-title {
            color: gray !important;
        }
    }

    .estados {
        span {
            text-align: end !important;
        }
    }

}

.fa-toggle-on {
    color: green !important;
}

.fa-toggle-on.off {
    transform: rotate(180deg);
    color: #d3102a !important;
}

.fa-check-circle {
    color: green !important;
}

.fa-times {
    color: #d3102a !important;
}

.content-title {
    span {
        display: inline-block !important;
    }

    .status {
        margin-left: 5px !important;
    }
}

.content-subtitle {
    span {
        display: inline-block !important;
    }
}

.aling-right .card-content {
    width: auto !important;
}

.blob {
    background: black;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    margin: 21px;
    height: 10px;
    width: 10px;
    transform: scale(1);
    animation: pulse-black 2s infinite;
}

.blob.blue {
    background: rgba(52, 172, 224, 1);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
    animation: pulse-blue 2s infinite;
    display: inline-flex;
}

@keyframes pulse-blue {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
}

.blob.red {
    background: rgba(255, 82, 82, 1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
    display: inline-flex;
}

.bg-success-comprobantes {
    background: #2b7be2 !important;
}


@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

.content-btn-fact {

    .facturacion-btn {
        z-index: 99999;
        display: flex;
        justify-items: center;
        align-items: center;
        padding-top: 0px;
        padding-bottom: 0px;

        i {
            margin-right: 7px;
        }
    }
}

.popup-server {
    position: absolute;
    top: 41px;
    z-index: 999999;
    border: 1px solid #c8c8c8;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    min-width: 219px !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    .status-title {
        font-size: 14px !important;
    }

    .form-switch {
        pointer-events: none !important;
    }

}

.table-sunat {
    width: 2273px !important;
}

.scroll-y {
    overflow-x: auto !important;
}

.only-desktop {
    .table {
        .blob {
            margin: 0px !important;
        }
    }
}

.card-content {
    overflow: auto !important;

    button {
        margin-right: 10px !important;
    }
}

.content-button {
    display: flex !important;
    align-items: center !important;
    width: 100% !important;
    height: 100% !important;
    justify-content: end;

}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.columData {
    background-color: white !important;
}

#content {
    //height: 100% !important;
    background-color: white !important;
}

.full-center-page {
    min-height: 700px !important;
}

.pagination {
    display: flex !important;
    justify-content: end !important;
}

.table-process {
    width: 50% !important;
}

.title {
    color: black !important;
}

.form-check .form-check-input {
    float: right !important;
    text-align: end !important;
}

.all-checked {
    text-align: end !important;

    label {
        margin-right: 42px !important;
    }
}

@media (max-width:1061px) {
    .content-button-comp {
        width: 100% !important;

        .mobil-margin-button {
            margin-bottom: 10px !important;
            width: 90% !important;
        }

        button {
            margin-left: 10px !important;
        }
    }
}

.postition-start {
    display: flex !important;
    justify-content: left !important;
}


.btn-add-hora {
    padding: 3px !important;
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 21px !important;
    width: 19.4px !important;
}

///drag and drop

.example-list {
    width: 300px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 5px;
    overflow: auto;
    max-height: 700px;
}

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.example-box-no-pointer {
    max-height: 104px;
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
    font-size: 14px;
}

.example-box-pointer {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: pointer;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
}

.example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.select {
    background-color: #e7e7e7 !important;
}

.example-box-pointer:hover {
    background-color: #e7e7e7 !important;
}

.reduceTable {
    width: calc(100% - 800px) !important;
}

.contenedor {
    overflow: auto;
    max-height: 437px !important;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.contenedor::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedor::-webkit-scrollbar:vertical {
    width: 7px;
}

.contenedor::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
    display: none;
}

.contenedor::-webkit-scrollbar:horizontal {
    height: 7px;
}

.contenedor::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.contenedor::-webkit-scrollbar-track {
    border-radius: 10px;
}

.disabled-Pointer {
    cursor: no-drop !important;
}

.headerSticky {
    position: sticky !important;
    top: 1.5px !important;
    z-index: 999999 !important;
    background: rgb(255, 255, 255) !important;
}

.editRango {
    height: 90px;
    padding-left: 1px;
}

.notEditRango {
    height: 62px;
    padding-left: 8px;
}

.mat-drawer-over {
    width: 50% !important;
    border-radius: 0px !important;
}
