<div id="content" class="full-center-page">
  <div class="card-content">
    <ion-row>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="3" sizeLg="3">
        <div class="content-button postition-start">
          <div class="content-button-comp">
            <button id="searchProducto" type="button" class="btn btn-primary btn-sm"
            id="searchProducto" type="button" class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            Registrar Horario
          </button>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <div>
      @for (data of dataHorario; track data.id) {
        <table class="table table-bordered table-sm" style="width: 99%;background-color: white;margin: 0;border-color: black;">
          <thead>
            <tr>
              <th scope="col" rowspan="2" style="width: 233px !important;text-align: center; background-color: #FF52C6;">
                <div style="display: flex;justify-content: center;align-items: center;height: 50px;">
                  {{data.cargo}}
                </div>
              </th>
              <th scope="col" *ngFor="let dia of data.dias" style="text-align: center;background-color: #00AFEF;width: calc(100% - 233px) !important;">
                {{dia.fecha}}
              </th>
            </tr>
            <tr style="text-align: center;">
              <th scope="col" *ngFor="let dia of data.dias" style="background-color: #FF52C6;width: calc(429px - 233px) !important;">
                {{dia.dia}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rango of data.rg_hora" style="text-align: center;">
              @if(rango.rg != "DIAS LIBRE"){
              <th scope="row" style="background-color: #B1FD97;">
                00:00 a 00:00
              </th>

              }@else{
              <th scope="row" style="background-color: #FFD865;">{{rango.rg}}</th>
              }
    
              @for (trb of data.dias_trabajo; track trb.id) {
              <th scope="row">
                @if(rango.id == trb.rg && 1 == trb.id_dia){{{trb.nombre_completo}}}
                @if(rango.id == trb.rg && 2 == trb.id_dia){{{trb.nombre_completo}}}
                @if(rango.id == trb.rg && 3 == trb.id_dia){{{trb.nombre_completo}}}
                @if(rango.id == trb.rg && 4 == trb.id_dia){{{trb.nombre_completo}}}
                @if(rango.id == trb.rg && 5 == trb.id_dia){{{trb.nombre_completo}}}
                @if(rango.id == trb.rg && 6 == trb.id_dia){{{trb.nombre_completo}}}
                @if(rango.id == trb.rg && 7 == trb.id_dia){{{trb.nombre_completo}}}
              </th>
              }
            </tr>
          </tbody>
        </table>
        }
    </div>
  </div>
</div>


<div class="offcanvas offcanvas-end" tabindex="-1" data-bs-backdrop="false" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="width: 1000px;">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel" style="color: black;">Registro de Horario</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" style="display: contents;">
    <ion-row>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="3" sizeLg="3">
        <mt-select id="cboCargo" placeHolder="Cargo" [optionList]="onListCargo"
        (changeSelected)="onChangeSelect($event)"></mt-select>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="3" sizeLg="3">
        <div style="display: flex;">
          <div style="width: 100px;">
            <mt-calendar 
              id="horaInit"
              [isTime]="true" 
              placeholder="Hora"
              (afterChange)="onCaledar($event)">
            </mt-calendar>
          </div>
          <div style="width: 100px;">
            <mt-calendar 
            id="horaEnd"
            [isTime]="true" 
            placeholder="Hora"
            (afterChange)="onCaledar($event)">
          </mt-calendar>
          </div>
          <div style="display: flex;justify-content: center;align-items: center;">
            <button id="searchProducto" type="button" class="btn btn-primary btn-sm" style="padding-bottom: 1px;" (click)="onAddHorario()">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      @for(data of dataHorario; track data.id) {
          <ion-col sizeXs="12" sizeSm="12" sizeMd="3" sizeLg="3" *ngIf="data.id == 1">
            <div style="color: black;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 0 10px;">
              Rango Horario
            </div>
            <div class="example-list">
              @for (rg of data.rg_hora; track rg.id) {
                <div class="example-box-pointer" (click)="onListDia()">{{rg.rg}}</div>
              }
            </div>
          </ion-col>
      

      <ion-col sizeXs="12" sizeSm="12" sizeMd="3" sizeLg="3" *ngIf="data.id == 1">
        <div style="color: black;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 10px;">
          Dia
        </div>
        <div class="example-list">
          @for (dia of data.dias; track dia.id) {
            <div class="example-box-pointer" (click)="onListDia()">{{dia.dia}}</div>
          }
        </div>
        
      </ion-col>
    }
      <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
        <div cdkDropListGroup>
          <ion-row>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
              <div style="color: black;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0 0 10px;">
                Trabajadores
              </div>
              <div
              cdkDropList
              [cdkDropListData]="arListTrabajador"
              class="example-list"
              (cdkDropListDropped)="onDrop($event)">
              @for (item of arListTrabajador; track item) {
                <div class="example-box" cdkDrag>{{item}}</div>
              }
            </div>
            </ion-col>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
              <div style="color: black;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0 0 10px;">
                Registro del dia
              </div>
              <div
              cdkDropList
              [cdkDropListData]="arListaDiaTrab"
              class="example-list"
              (cdkDropListDropped)="onDrop($event)">
              @for (item of arListaDiaTrab; track item) {
                <div class="example-box" cdkDrag>{{item}}</div>
              }
            </div>
            </ion-col>
          </ion-row>
      </div>
      </ion-col>


    </ion-row>
  </div>
</div>