

<div id="content" class="full-center-page">
  <div class="card-content">
      <ion-row>
        <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
          <div class="content-button postition-start" *ngIf="!data.length">
            <div class="content-button-comp" style="width: 100%;display: contents;">
              @if(dataHorario.length){
                <button id="searchProducto" type="button" class="btn btn-primary btn-sm" 
                id="searchProducto" type="button" class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" (click)="onModal(true)">
                Registrar Horario
              </button>  
              }@else{
                <button id="searchProducto" type="button" class="btn btn-primary btn-sm" 
                id="searchProducto" type="button" class="btn btn-primary btn-sm"  disabled>
                Registrar Horario
              </button>  
              }
 
            <mt-calendar [isPresentRange]="true"  placeholder="Seleccione Semana" (afterChange)="onCaledarRange($event)"
            ></mt-calendar>
            <button style="margin-left: 8px;" matTooltip="Nuevo Calendario" id="searchProducto" type="button" class="btn btn-primary btn-sm" type="button" class="btn btn-primary btn-sm" (click)="onSearchCalendario()">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            @if(dataHorario.length){
              <button style="margin-left: 8px;" matTooltip="Nuevo Calendario" id="searchProducto" type="button" class="btn btn-primary btn-sm" type="button" disabled>
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </button>
            }@else{
              <button style="margin-left: 8px;" matTooltip="Nuevo Calendario" id="searchProducto" type="button" class="btn btn-primary btn-sm" type="button" class="btn btn-primary btn-sm" (click)="onGenerarCalendario()">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </button>
            }

            <button style="margin-left: 8px;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"  matTooltip="Generar papeleta" id="searchProducto" type="button" class="btn btn-primary btn-sm" type="button" class="btn btn-primary btn-sm" (click)="onOpenPapeleta()">
              <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
            </button>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <div>
        @for (data of dataHorario; track data.id) {
          <table [ngClass]="[isOpenModal && !isPapeleta ? 'table table-bordered table-sm table-hover reduceTable': 'table table-bordered table-sm table-hover']" style="width: 99%;background-color: white;margin: 0;border-color: black;">
            <thead>
              <tr>
                <th scope="col" rowspan="2" style="width: 150px !important;text-align: center; background-color: #88c9ff;">
                  <div style="display: flex;justify-content: center;align-items: center;height: 50px;">
                    {{data.cargo}}
                  </div>
                </th>
                <th scope="col" *ngFor="let dia of data.dias" style="text-align: center;background-color: #bbd6df;width: calc(100% - 233px) !important;">
                  {{dia.fecha}}
                </th>
              </tr>
              <tr style="text-align: center;">
                <th scope="col" *ngFor="let dia of data.dias" style="background-color: #88c9ff;width: calc(429px - 233px) !important;">
                  <div style="display: flex;align-items: center;justify-content: center;">
                    <span style="margin-right: 20px;">{{dia.dia}}</span>
                    @if(dia.isObservation) {
                      <i class="fa fa-exclamation-circle" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" (click)="onOpenObservacion(data,dia)" matTooltip="Observacion" aria-hidden="true" style="color: #d14f4f;cursor: pointer;font-size: 21px;"></i>
                    }
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rango of data.rg_hora" style="text-align: center;">
                <th scope="row" style="background-color: #97b3fd;">
                  {{rango.rg}}
                </th>
      
                @for (dia of data.dias; track dia.id) {
                <th scope="row">
                  @for (trb of data.dias_trabajo; track trb) {
                    <span style="font-size: 14px;" *ngIf="rango.id == trb.rg && dia.id == trb.id_dia">{{trb.nombre_completo}} / </span>
                  }
                </th>
                }
              </tr>
              <tr style="text-align: center;">
                <th scope="row" style="background-color: #FFD865;">DIAS LIBRES</th>
                
                @for (dia of data.dias; track dia.id) {
                <th scope="row">
                  @for (trb of data.dias_libres; track trb) {
                    <span style="font-size: 14px;" *ngIf="dia.id == trb.id_dia">{{trb.nombre_completo}} / </span>
                  }
                </th>
                }
              </tr>
              
            </tbody>
          </table>
          }
      </div>
  </div>
</div>

<div class="offcanvas offcanvas-end" data-bs-backdrop="false" tabindex="-1"  id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="width: 800px;">
  <div class="offcanvas-header" style="border-bottom: 1px solid #ccc;  margin-bottom: 10px;">
    @if(!isPapeleta){
      @if(isObservacion){
        <button type="button" class="btn btn-light" (click)="isObservacion = false">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </button>
      }
      <h5 id="offcanvasRightLabel" style="color: black;display: grid;">
        @if(!isObservacion){
          Registro de Horario
        } @else {
          Registro de Observaciones
          <span style="text-align: center;font-weight: 800;">{{titleObservacion}}</span>
        }
        
      </h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" (click)="onModal(false)"></button>
    } @else {
      <h5 id="offcanvasRightLabel" style="color: black;display: grid;">
        Registro de Papeleta
      </h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" (click)="onModal(false)"></button>
    }

  </div>
  <div class="offcanvas-body" style="display: contents;">
    @if(!isObservacion && !isPapeleta){
      <ion-row>
        <ion-col sizeXs="12" sizeSm="12" sizeMd="3" sizeLg="3">
          <mt-select id="cboCargo" placeHolder="Cargo" [optionList]="onListCargo"
          (changeSelected)="onChangeSelect($event)"></mt-select>
        </ion-col>
        <ion-col sizeXs="12" sizeSm="12" sizeMd="9" sizeLg="9">
          <div style="display: flex;">
            <div style="width: 100px;">
              <mt-calendar 
                id="horaInit"
                [isTime]="true" 
                placeholder="Hora"
                (afterChange)="onCaledar($event)">
              </mt-calendar>
            </div>
            <div style="width: 100px;">
              <mt-calendar 
              id="horaEnd"
              [isTime]="true" 
              placeholder="Hora"
              (afterChange)="onCaledar($event)">
            </mt-calendar>
            </div>
            <div style="display: flex;justify-content: center;align-items: center;margin-left: 5px;">
              @if(!isRangoEdit){
                <button matTooltip="Agregar Horario" id="searchProducto" type="button" class="btn btn-primary btn-sm" style="padding-bottom: 1px;" (click)="onAddHorario()">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              } @else {
                <button matTooltip="Agregar Horario" id="searchProducto" type="button" class="btn btn-primary btn-sm" style="padding-bottom: 1px;" disabled>
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              }
            </div>
            <div style="display: flex;justify-content: center;align-items: center;margin-left: 5px;">
              @if(!isRangoEdit){
                @if(vSelectHorario > 0){
                  <button matTooltip="Editar Horario" id="editProducto" type="button" class="btn btn-primary btn-sm" style="padding-bottom: 1px;" (click)="onEditHorario()">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </button>
                } @else {
                  <button matTooltip="Editar Horario" id="editProducto" type="button" class="btn btn-primary btn-sm" style="padding-bottom: 1px;"  disabled>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </button>
                }
  
              } @else {
                <button matTooltip="Guardar Rango Horario" id="editProducto" type="button" class="btn btn-success btn-sm" style="padding-bottom: 1px;" (click)="onSaveRangoHorario()">
                  <i class="fa fa-check-square-o" aria-hidden="true"></i>
                </button>
              }
            </div>
            <div style="display: flex;justify-content: center;align-items: center;margin-left: 5px;">
              @if(vSelectDia > 0){
                <button id="searchProducto" matTooltip="Observacion" type="button" class="btn btn-primary btn-sm" style="padding-bottom: 1px;" (click)="onOpenObservacion()">
                  <i class="fa fa-list-alt" aria-hidden="true"></i>
                </button>
              } @else {
                <button id="searchProducto" matTooltip="Observacion" type="button" class="btn btn-primary btn-sm" style="padding-bottom: 1px;" disabled>
                  <i class="fa fa-list-alt" aria-hidden="true"></i>
                </button>
              }
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="cboCargo != undefined">
        @for(data of dataHorario; track data.id) {
          <ion-col sizeXs="12" sizeSm="12" sizeMd="3" sizeLg="3" *ngIf="data.id == idCargo">
              <div style="color: black;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 10px;
              border: 1px solid;
              border-radius: 5px;
              margin-bottom: 10px;
              margin-left: 5px;
              border-color: #CCCCCC;">
                Rango Horario
              </div>
              <div class="example-list">
                @for (rg of data.rg_hora; track rg.id) {
                  <div [ngClass]="[rg.id == vSelectHorario ? 'example-box-pointer select': 'example-box-pointer']" (click)="onSelectDataDia(rg.id,'')">{{rg.rg}}</div>
                }
              </div>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="2" sizeLg="2" *ngIf="data.id == idCargo">
          <div style="color: black;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          border: 1px solid;
          border-radius: 5px;
          margin-bottom: 10px;
          margin-left: 5px;
          border-color: #CCCCCC;">
            Dia
          </div>
          <div class="example-list">
            @for (dia of data.dias; track dia.id) {
              <div [ngClass]="[dia.id == vSelectDia ? dia.isExpired == false ? 'example-box-pointer select' : 'example-box-pointer select disabled-Pointer' : dia.isExpired ? 'example-box-pointer disabled-Pointer':'example-box-pointer']" (click)="onSelectDataDia(vSelectHorario,dia.id,dia)">
                {{dia.dia}}
                  @if(dia.isObservation) {
                    <i class="fa fa-exclamation-circle" aria-hidden="true" style="color: #d14f4f;cursor: pointer;font-size: 21px;"></i>
                  }
              </div>
            }
          </div>
          
          </ion-col>
        <ion-col sizeXs="12" sizeSm="12" sizeMd="7" sizeLg="7" *ngIf="data.id == idCargo" style="padding: 0;">
          <div>
            <ion-row>
              <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
                <div style="color: black;
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding: 10px;
                  border: 1px solid;
                  border-radius: 5px;
                  margin-bottom: 10px;
                  margin-left: 5px;
                  border-color: #CCCCCC;">
                    Trabajadores 
                  </div>
                  <div
                  *ngIf="vSelectDia > 0 && vSelectHorario > 0 && isExpiredDay == false"
                  class="example-list contenedor">
                  @for (trb of data.arListTrabajador; track trb) {
                    <div class="example-box-no-pointer" *ngIf="vSelectDia == trb.id_dia && vSelectHorario == trb.rg && trb.id_cargo == idCargo">
                      {{trb.nombre_completo}}
                      <div>
                        <button id="addDL" [name]="'addDL'+'-'+trb.id" type="button" class="btn btn-success btn-sm" style="padding-bottom: 0px; 
                        font-size: 12px;
                        padding-top: 1px;
                        padding-left: 5px;
                        margin-right: 5px;
                        padding-right: 5px;" (click)="onAddDLTrabajo(trb,trb.id)" matTooltip="Asignar trabajor a dia libre">
                          <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                        </button>
                        <button id="addHorario" [name]="'addHorario'+'-'+trb.id" type="button" class="btn btn-primary btn-sm" style="padding-bottom: 0px; 
                        font-size: 12px;
                        padding-top: 1px;
                        padding-left: 5px;
                        padding-right: 5px;" (click)="onAddDTrabajo(trb)" matTooltip="Asignar trabajor a este horario">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  }
                </div>
              </ion-col>
              <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
                <div style="color: black;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                border: 1px solid;
                border-radius: 5px;
                margin-bottom: 10px;
                margin-left: 5px;
                border-color: #CCCCCC;">
                  Registro del dia
                </div>
                <div
                *ngIf="vSelectDia > 0 && vSelectHorario > 0 && isExpiredDay == false"
                class="example-list">
                @for (dtrb of data.dias_trabajo; track dtrb) {
                  <div class="example-box-pointer" *ngIf="vSelectDia == dtrb.id_dia && vSelectHorario == dtrb.rg && dtrb.id_cargo == idCargo">
                    {{dtrb.nombre_completo}}
                    <button id="searchProducto" type="button" class="btn btn-danger btn-sm" style="padding-bottom: 0px;
                    font-size: 12px;
                    padding-top: 1px;
                    padding-left: 5px;
                    padding-right: 5px;" (click)="onDeleteDTrabajo(dtrb)">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                  </div>
                }
              </div>
              </ion-col>
            </ion-row>
        </div>
        </ion-col>
      }
      </ion-row>
    } 

    @if(isObservacion && !isPapeleta) {
      <mt-observacion-horario (changeObservation)="opChangeObservation($event)" [vIdDia]="vSelectDia" [dataObservation]="dataObservation"></mt-observacion-horario>
    }

    @if(isPapeleta){
      <mt-papeleta-horario></mt-papeleta-horario>
    }

  </div>
</div>