.icon-search {
    float: right !important;
    cursor: pointer !important;
    font-size: 11px !important;
    color: #bbbbbb !important;
    padding-top: 4px !important;
}

.icon-search:hover {
    color: #7e7e7e !important;
}

.content-button-filter {
    display: flex !important;
    align-items: center !important;
    height: 100% !important;

    button {
        border-radius: 4px !important;
        padding: 5px 25px !important;
    }
}

.modal-filter {
    width: 210px !important;
    z-index: 99999 !important;
    position: absolute !important;
    background: #ffff !important;
    height: auto !important;
    padding-bottom: 3px !important;
    box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d !important;
}

.search-content-button {
    padding: 3px 6px !important;

    button {
        display: inline-block !important;
        width: 49% !important;
    }
}

.button-float-rigth {
    float: right !important;
}

 button.mdc-button  {
    min-width: 12px !important;
    margin-right: 10px;
}

span {
    font-weight: 100 !important;
}

.section-button-card {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100% !important;

    button {
        margin-right: 10px !important;
    }
}

.loader {
    width: 60px;
    height: 40px;
    position: relative;
    display: inline-block;
    --base-color: #0000006e; /*use your base color*/
  }
  .loader::before {
    content: '';  
    left: 0;
    top: 0;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #FFF;
    background-image: radial-gradient(circle 8px at 18px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 0px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 36px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 36px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) -2%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 5px, var(--base-color) 100%, transparent 0);
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack 3s linear infinite;
  }
  .loader::after {
    content: '';  
    left: 35px;
    top: 15px;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #FFF;
    background-image: radial-gradient(circle 5px at 12px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 0px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 24px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 24px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 0%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 3px, var(--base-color) 100%, transparent 0);
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack 4s linear infinite reverse;
  }
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }  

  .loadingPdf {
    background-color: #0000006e;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center ;
  }