<ion-content>
  <div id="content" class="full-center">
    <div class="card-content" *ngIf="isAuth">
      <ion-row>
        <ion-col>
          <ion-col sizeXs="2" sizeSm="2" sizeMd="2" sizeLg="2">
            <button type="button" class="btn btn-outline-primary btn-sm"><i class="fa fa-refresh" aria-hidden="true"></i></button>
          </ion-col>
          <ion-col sizeXs="2" sizeSm="2" sizeMd="2" sizeLg="2">
            <button (click)="openModalAddPostulant()" type="button" class="btn btn-outline-primary btn-sm"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
          </ion-col>
          <ion-col sizeXs="2" sizeSm="2" sizeMd="2" sizeLg="2">
            <button (click)="openModalGenerateLink()" type="button" class="btn btn-outline-primary btn-sm"><i class="fa fa-chain-broken" aria-hidden="true"></i></button>
          </ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
          <mt-datatable
            [headList]="headList" 
            [bodyList]="bodyList"
            [actionButton]="actionButton"
            [buttonOptionList]="buttonOptionList"
            (returnData)="onSaveOrUpdate($event)"
            ></mt-datatable>
        </ion-col>
      </ion-row>
    </div>

    <div class="card-content" *ngIf="isPostulant">
      <mt-frm-inscription></mt-frm-inscription>
    </div>
  </div>
</ion-content>