<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="nombre_completo">
      <th mat-header-cell *matHeaderCellDef> 
        <div class="head-table">
          Nombre Completo
          <div class="filter-content" slot="end">
            <div class="btn-filter" [matMenuTriggerFor]="filterNombre"> 
              @if(isFilterNM){
                <div matBadge="1" matBadgeSize="small" style="width: 2px;"></div>
              }
              <i class="fa fa-filter" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <mat-menu #filterNombre="matMenu">
          <mt-input id="filterNombre" label="Filtro nombre" placeholder="Escriba nombre" type="text" value="{{ filterNombreEmpleado }}"
          (keyup)="applyFilterNombreEmpleado($event)"></mt-input>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="dia">
      <th mat-header-cell *matHeaderCellDef>         
        <div class="head-table">
        Dia
        <div class="filter-content" slot="end">
          <div class="btn-filter" [matMenuTriggerFor]="filterDia"> 
            @if(isFilterDia){
              <div matBadge="1" matBadgeSize="small" style="width: 2px;"></div>
            }
            <i class="fa fa-filter" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <mat-menu #filterDia="matMenu">
        <mt-input id="filterDia" label="Filtro fecha" placeholder="Escriba fecha" type="text" value="{{ filterFecha }}"
        (keyup)="applyFilterDia($event)"></mt-input>
      </mat-menu>
     </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>

    <ng-container matColumnDef="hr_ingreso_1">
      <th mat-header-cell *matHeaderCellDef> Ingreso </th>
      <td mat-cell *matCellDef="let element"> {{element.hr_ingreso}} </td>
    </ng-container>

    <ng-container matColumnDef="hr_salida_1">
      <th mat-header-cell *matHeaderCellDef> Inicio Break </th>
      <td mat-cell *matCellDef="let element">  {{element.hr_in_break}}</td>
    </ng-container>

    <ng-container matColumnDef="hr_break">
      <th mat-header-cell *matHeaderCellDef> Tiempo Break </th>
      <td mat-cell *matCellDef="let element">{{element.hr_break}}
      </td>
    </ng-container>

    <ng-container matColumnDef="hr_ingreso_2">
      <th mat-header-cell *matHeaderCellDef> Termino Break </th>
      <td mat-cell *matCellDef="let element"> {{element.hr_out_break}} </td>
    </ng-container>

    <ng-container matColumnDef="hr_salida_2">
      <th mat-header-cell *matHeaderCellDef> Salida </th>
      <td mat-cell *matCellDef="let element"> {{element.hr_salida}} </td>
    </ng-container>

    <ng-container matColumnDef="hr_trabajadas">
      <th mat-header-cell *matHeaderCellDef> Hrs Trab </th>
      <td mat-cell *matCellDef="let element">{{element.hr_trabajadas}}
      </td>
    </ng-container>

    <ng-container matColumnDef="rango_horario">
      <th mat-header-cell *matHeaderCellDef> Rango Horario </th>
      <td mat-cell *matCellDef="let element"> {{element.rango_horario}} </td>
    </ng-container>

    <ng-container matColumnDef="isTardanza">
      <th mat-header-cell *matHeaderCellDef>             <div class="head-table">
          Tardanza
          <div class="filter-content" slot="end">
            <div class="btn-filter" [matMenuTriggerFor]="filterTardanza"> 
              @if(isFilterTR){
                <div matBadge="1" matBadgeSize="small" style="width: 2px;"></div>
              }
              <i class="fa fa-filter" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <mat-menu #filterTardanza="matMenu">
          <mt-input id="filterTardanza" label="Filtro tardanza" placeholder="Escriba estado" type="text" value="{{ filterTardanzaStatus }}"
          (keyup)="applyFilterTardanza($event)"></mt-input>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let element"> 
        <h6 *ngIf="element.isNullRango == true" style="margin: 0;"><span class="badge bg-secondary" style="font-weight: 100;">sin rango</span></h6>
        <h6 *ngIf="element.isTardanza == false && !element.isNullRango" style="margin: 0;"><span class="badge bg-primary" style="font-weight: 100;">correcto</span></h6>
        <h6 *ngIf="element.isTardanza == true && !element.isNullRango" style="margin: 0;"><span class="badge" style="font-weight: 100;background-color: red !important;">tardanza</span></h6>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsOf"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsOf;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>
</div>