<ion-row class="desktop-item">
  <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
    <div class="{{activeSelect ? 'select-menu active':'select-menu'}}">
      <div class="select-btn" (click)="activeSelect = !activeSelect">
        <span class="option-text" *ngIf="!nameOptionSelected.length">{{placeHolder}}</span>
        <span class="option-text" *ngIf="nameOptionSelected.length">{{nameOptionSelected}}</span>
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </div>

      <div class="options">
        <div class="content-search" *ngIf="enableSearchInput">
          <mt-input
          id="sboSearch"
          label="Buscar"
          placeholder="Buscar"
          value="{{ sboSearch }}"
          (afterChange)="onChangeInput($event)"
          type="text"
        ></mt-input>
        </div>
        <ul>
          <li (click)="onSelectedOption(option)" id="{{ option.id }}" class="option" *ngFor="let option of optionList">
            <span class="option-text">{{ option.value }}</span>
          </li>
        </ul>
      </div>

    </div>
  </ion-col>
</ion-row>