table {
    width: 100%;
}

.content {
    padding: 15px !important;

    span {
        font-weight: 100 !important;
    }

    .content-filter {
        margin-bottom: 15px !important;
        max-width: 468px !important;
    }
}