table {
    width: 100%;
}

.content {
    padding: 15px !important;

    span {
        font-weight: 100 !important;
    }

    .content-filter {
        margin-bottom: 15px !important;
        max-width: 468px !important;
    }
}

.content-buttons {
    height: 100%;
    display: flex;
    //justify-content: right;
    align-items: center;

    button {
        margin-left: 10px !important;
    }
}

.delete-btn-table {
    padding: 5px 14px !important;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background: #0000000a !important;
    cursor: pointer !important;
}