<div class="content">

  <div class="content-filter">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="Nro">
        <th mat-header-cell *matHeaderCellDef> Nro. </th>
        <td mat-cell *matCellDef="let element"> {{element.ID_EMPLEADO}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="Codigo EJB">
        <th mat-header-cell *matHeaderCellDef> Codigo EJB </th>
        <td mat-cell *matCellDef="let element"> {{element.CODIGO_EJB}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="Nombre completo">
        <th mat-header-cell *matHeaderCellDef> Nombre completo </th>
        <td mat-cell *matCellDef="let element"> {{element.AP_PATERNO}} {{element.AP_MATERNO}} {{element.NOM_EMPLEADO}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="Tipo Documento">
        <th mat-header-cell *matHeaderCellDef> Tipo Documento </th>
        <td mat-cell *matCellDef="let element"> {{element.TIPO_DOC}} </td>
      </ng-container>

      <ng-container matColumnDef="Numero Documento">
        <th mat-header-cell *matHeaderCellDef> Numero Documento </th>
        <td mat-cell *matCellDef="let element"> {{element.NRO_DOC}} </td>
      </ng-container>

      <ng-container matColumnDef="Tienda">
        <th mat-header-cell *matHeaderCellDef> Tienda </th>
        <td mat-cell *matCellDef="let element"> {{element.TIENDA_ASIGNADO}} </td>
      </ng-container>

      <ng-container matColumnDef="Salario">
        <th mat-header-cell *matHeaderCellDef> Salario </th>
        <td mat-cell *matCellDef="let element"> {{element.SALARIO_BASE}} </td>
      </ng-container>

      <ng-container matColumnDef="Fecha Ingreso">
        <th mat-header-cell *matHeaderCellDef> Fecha Ingreso </th>
        <td mat-cell *matCellDef="let element"> {{element.FEC_INGRESO}} </td>
      </ng-container>

      <ng-container matColumnDef="Cargo">
        <th mat-header-cell *matHeaderCellDef> Cargo </th>
        <td mat-cell *matCellDef="let element"> {{element.CARGO}} </td>
      </ng-container>

      <ng-container matColumnDef="Estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> 
          <span class="badge text-bg-secondary" *ngIf="element.ESTADO_EMP == 'PENDIENTE'">{{element.ESTADO_EMP}}</span>
          <span class="badge text-bg-primary" *ngIf="element.ESTADO_EMP == 'ACEPTADO'">{{element.ESTADO_EMP}}</span>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
<!--
  <ion-row>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" class="no-padding-lateral">
      <ion-row>
        <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" class="only-desktop">
          <table class="table table-bordered table-responsive-sm">
            <thead>
              <tr>
                <th class="columHead" *ngFor="let columHead of headList;let i = index">
                  <span>{{columHead.value}}</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let columBody of dataPaginationList;let index = index">
                <td class="columBody">{{index + 1}}</td>
                <td class="columBody">{{columBody.CODIGO_EJB}}</td>
                <td class="columBody">{{columBody.AP_PATERNO}} {{columBody.AP_MATERNO}} {{columBody.NOM_EMPLEADO}}</td>
                <td class="columBody">{{columBody.TIPO_DOC}}</td>
                <td class="columBody">{{columBody.NRO_DOC}}</td>
                <td class="columBody">{{columBody.TIENDA_ASIGNADO}}</td>
                <td class="columBody">{{columBody.SALARIO_BASE}}</td>
                <td class="columBody">{{columBody.FEC_INGRESO}}</td>
                <td class="columBody">
                  <span class="badge text-bg-secondary" *ngIf="columBody.ESTADO_EMP == 'PENDIENTE'">{{columBody.ESTADO_EMP}}</span>
                  <span class="badge text-bg-primary" *ngIf="columBody.ESTADO_EMP == 'ACEPTADO'">{{columBody.ESTADO_EMP}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>-->
</div>
