table {
    width: 100%;
}

.content {
    padding: 15px !important;

    span {
        font-weight: 100 !important;
    }

    .content-filter {
        margin-bottom: 15px !important;
        max-width: 468px !important;
    }
}

.content-buttons {
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.delete-btn-table {
    padding: 5px 14px !important;
}